.carousel {
    &__item {
        display: flex;
        overflow: hidden;
        position: relative;
        height: 210px;
        border-radius: 12px;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 16px;
        transition: all 0.3s ease;

        * {
            transition: all 0.3s ease;

        }

        &.video-card {
            &:before {
                content: '';
                background: url("../images/play.svg") no-repeat center center;
                position: absolute;
                width: 50px;
                height: 50px;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
                z-index: 2;
            }
        }

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 31.25%, rgba(0, 0, 0, 0.9) 100%);
            z-index: 1;
        }

        &--img {

            width: 100%;
            inset: 0;
            position: absolute;
            z-index: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        &--content {
            position: relative;
            z-index: 2;

            &-title {
                @include font600(var(--white), 16px);
            }

            &-date {
                @include font400(var(--white), 14px);
                line-height: 24px;
                margin-top: 4px;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 4px;


                i {
                    font-size: 18px;
                }
            }
        }
    }

    &.carousel3center {

        .center {
            transform: scale(1.2);
            position: relative;
            z-index: 2;
            transition: all .5s ease;
            transition-delay: 0.2s;

            .carousel__item {
                overflow: hidden;
                padding: 0;

                &--img {
                    overflow: hidden;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .carousel__item {
            margin: 30px 0;
            height: 300px;
            padding: 0;

            @include devices(lg) {
                height: 250px;
            }

            @include devices(md) {
                height: 200px;
            }

            @include devices(sm) {
                height: 150px;
            }


        }
    }
}


.owl-carousel {
    .owl-nav {
        width: 100%;
        margin-top: 16px;
        display: flex;
        flex-direction: row;
        gap: 12px;
        align-items: center;
        justify-content: center;

        button {
            position: relative;
            display: flex;
            border-radius: 999px;
            backdrop-filter: blur(8px);
            border: 1px solid #EAECF0 !important;
            width: 44px;
            height: 44px;
            justify-content: center;
            align-items: center;

            span {
                display: none !important;
            }

            &::after {
                font-family: icomoon !important;
                font-size: 20px;
                color: #667085;
            }

            &.owl-next {
                &::after {

                    content: "\e90a";
                }

            }

            &.owl-prev {
                &::after {

                    content: "\e90d";
                }

            }
        }
    }

}