.hero{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;

    .hero-bg {
        position: absolute;
        inset: 0;
        z-index: -1;
        img { width: 100%; height: 100%; object-fit: cover; }
        .overlay { 
            position: absolute; 
            inset: 0; 
            background: linear-gradient(10deg, #06346221 0%, rgba(0,0,0,0.3) 100%); 
        }
    }

    .hero-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 190px;
    }

    .hero-content {
        // max-width: 60%;
        color: #fff;

        .date {
            color: #F3E2A5;
            font-size: 18px;
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            gap: 8px;
        }

        h2 {
            font-size: 44px;
            font-weight: 700;
            line-height: 1.2;
            margin-bottom: 20px;
        }

        h5 {
            font-size: 20px;
            color: #E3E8EF;
            font-weight: 400;
            line-height: 1.5;
            margin-bottom: 35px;
            max-width: 85%;
        }

           .btn-more {
  background: linear-gradient(90deg, #083d91, #0071dc);
  background-size: 150% auto; 
  color: white;
  border: none;
  padding: 10px 24px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  i {
    transition: transform 0.3s ease;
  }
  &:hover {
    box-shadow: 0 5px 15px rgba(0, 114, 220, 0.13);

    i {
      transform: translateX(4px);
    }
  }
  &:active {
    transform: translateY(0) scale(0.96);
    box-shadow: 0 2px 8px rgba(0, 113, 220, 0.2);
  }
}
    }


}