.cta {
  background-color: #083675;
  background-image: url("../../images/karta.png");
  background-size: cover;
  background-position: center;
  padding: 25px 0px 50px 0px;
  margin-bottom: 130px;

  h2 {
    color: #ffffff;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
    padding-left: 15px;
  }

  .cta-card {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 16px;
    height: 148px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &-inner {
      display: flex;
      gap: 15px;
      align-items:center;
      width: 100%;
      height: 100%;
    }

    img {
      width: 60px !important;
      height: 60px !important;
      min-width: 60px;
      object-fit: contain;
      flex-shrink: 0;
    }

    &-text {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 8px;
      height: 100%;
      flex: 0;

      p {
        color: #000000;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.4;
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 16px;
      }

      a {
        width: 190px;
        display: inline-block;
        color: #145fcb;
        background-color: #f0f6ff;
        padding: 8px 12px;
        border-radius: 6px;
        font-size: 12px;
        text-decoration: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all 0.3s ease;
      }
    }

    &:hover {
      .cta-card-text a {
        background-color: #5379e2f3;
        color: #ffffff;
      }
    }
}
  }
