
   .lider-img-wrapper1 {
    position: relative;
    width: 434px;
    padding: 16px 0px 16px 16px;

    .lider-img-shef1 {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 12px;
    }
  }
  