.equality {
  .top {
    width: 100%;
    height: 1px;
    background-color: #e3e8ef;
    margin-bottom: clamp(10px, 1.4vw, 16px);
  }

  &-image {
    padding: clamp(8px, 1.4vw, 16px);
    border-radius: clamp(12px, 1.4vw, 16px);
    background-color: #ffffff;
    margin-bottom: clamp(10px, 1.4vw, 16px);

    img {
      width: 100%;
      display: block;
      border-radius: clamp(10px, 1.2vw, 14px);

      aspect-ratio: 16 / 9;
      object-fit: cover;

      margin-bottom: clamp(10px, 1.4vw, 16px);

      @include devices(xs) {
        aspect-ratio: 3 / 2;
      }
    }

    p {
      color: #121926;
      font-size: clamp(15px, 1.5vw, 24px);
      font-weight: 500;
      line-height: 1.35;
      margin: 0;

      span {
        color: #145fcb;
      }
    }
  }

  &-text {
    padding: clamp(8px, 1.4vw, 16px);
    border-radius: clamp(12px, 1.4vw, 16px);
    background-color: #ffffff;

    h2 {
      font-size: clamp(18px, 1.9vw, 30px);
      font-weight: 600;
      color: #121926;
      margin: 0 0 clamp(10px, 1.4vw, 16px);
      line-height: 1.2;
    }

    &-link {
      ul {
        margin: 0;
        padding-left: 18px; 
      }

      li {
        color: #364152;
        font-size: clamp(13px, 1.2vw, 18px);
        font-weight: 600;
        line-height: clamp(22px, 2vw, 28px);
        margin-bottom: clamp(6px, 1vw, 10px);
      }
    }
  }
}