.equality {
  .top {
    width: 100%;
    height: 1px;
    background-color: #e3e8ef;
    margin-bottom: 16px;
  }
  &-image {
    padding: 16px;
    border-radius: 16px;
    background-color: #ffffff;
    margin-bottom: 16px;
    img {
      width: 100%;
      margin-bottom: 16px;
    }
    p {
      color: #121926;
      font-size: 24px;
      font-weight: 500;
      span {
        color: #145fcb;
      }
    }
  }

  &-text {
    padding: 16px;
    border-radius: 16px;
    background-color: #ffffff;
    h2 {
      font-size: 30px;
      font-weight: 600;
      color: #121926;
      margin-bottom: 16px;
    }
    &-link {
      li {
        color: #364152;
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
      }
    }
  }
}
