.eventslist {
  &-list {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 16px;
    &-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;
      &-link {
        display: flex;
        align-items: center;
        gap: 16px;
        button {
          padding: 10px 16px;
          border: 1px solid #145fcb;
          color: #145fcb;
          background-color: #f5f9ff;
          font-size: 16px;
          font-weight: 600;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
          border-radius: 12px;
          i {
            font-size: 20px;
          }
        }
      }
    }
    &-top {
      width: 100%;
      height: 0.5px;
      background-color: #e3e8ef;
      margin-bottom: 16px;
    }
  }
  &-text {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 16px;
    h2 {
      font-size: 30px;
      font-weight: 600;
      color: #121926;
      margin-bottom: 16px;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 25px;
      li {
        font-size: 18px;
        font-weight: 500;
        color: #364152;
      }
    }
  }
  &-carusel {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 16px;
  }
}
