.events {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 16px; 

  &-card {
    display: flex;
    align-items: center;
    flex-direction: column;

    &-left {
      background-color: #f8fafc;
      border-radius: 16px;
      padding: 16px;
      position: relative;
      top: -40px;
      h4 {
        color: #000000;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 5px;
      }
      p {
        color: #000000;
        opacity: 0.6;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 10px;
      }
      &-top {
        width: 100%;
        height: 0.5px;
        background-color: #00000050;
        opacity: 60%;
        margin-bottom: 10px;
      }
      &-rait {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
          display: flex;
          align-items: center;
          gap: 6px;
          color: #000000;
          font-size: 16px;
          font-weight: 500;
          i {
            color: #145fcb;
            font-size: 20px;
          }
        }
      }
    }
  }
}
