.forgive {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    &-card {
        // width: 407px;
        border-radius: 16px;
        background-color: #ffffffff;
        h3 {
            font-size: 24px;
            font-weight: 600;
            color: #000000;
            padding: 16px;
        }
        &-top {
            width: 100%;
            height: 0.5px;
            background-color: #E3E8EF;
            margin-bottom: 16px;
        }
        p {
            display: flex;
            align-items: center;
            gap: 12px;
            color: #364152;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 20px;
            padding: 0px 16px;
        }
        &-left {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px;
            background-color: #F8FAFC;
            border-radius: 0px 0px 12px 12px;
            b {
                display: flex;
                align-items: center;
                gap: 6px;
                color: #000000;
                font-size: 16px;
                font-weight: 500;
                i {
                    color: #145FCB;
                }
            }
        }
    }
}