.international {
  &-text {
    background-color: #fff;
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 16px;

    h2 {
      font-size: 30px;
      font-weight: 600;
      color: #121926;
      margin-bottom: 16px;
    }

    &-top {
      width: 100%;
      height: 0.5px;
      background-color: #e3e8ef;
      margin-bottom: 16px;
    }

    p {
      color: #364152;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 16px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        position: relative;
        padding-left: 32px;
        margin-bottom: 16px;

        color: #364152;
        font-size: 18px;
        font-weight: 500;

        span {
          color: #121926;
          font-weight: 600;
        }

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 4px;
          width: 19px;
          height: 19px;
          border-radius: 50%;
          border: 3px solid #145fcb;
          background: #f3e2a5;
          box-sizing: border-box;
        }

        &:not(:last-child)::after {
          content: "";
          position: absolute;
          left: 9px;
          top: 26px;
          width: 1px;
          height: calc(100% + 16px);

          background-image: linear-gradient(
            to bottom,
            #cdd5df 5px,
            #cdd5df 5px,
            transparent 6px,
            transparent 5px
          );
          background-size: 3px 8px;
          background-repeat: repeat-y;
        }
      }
    }
  }

  &-carusel {
    background-color: #fff;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
