.international {
  &-text {
    background-color: #fff;
    border-radius: clamp(12px, 1.4vw, 16px);
    padding: clamp(10px, 1.4vw, 16px);
    margin-bottom: clamp(10px, 1.4vw, 16px);

    h2 {
      font-size: clamp(18px, 1.9vw, 30px);
      font-weight: 600;
      color: #121926;
      margin: 0 0 clamp(10px, 1.4vw, 16px);
      line-height: 1.2;
    }

    &-top {
      width: 100%;
      height: 1px;
      background-color: #e3e8ef;
      margin-bottom: clamp(10px, 1.4vw, 16px);
    }

    p {
      color: #364152;
      font-size: clamp(13px, 1.2vw, 18px);
      font-weight: 500;
      margin: 0 0 clamp(10px, 1.4vw, 16px);
      line-height: 1.55;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        position: relative;

        padding-left: clamp(24px, 3vw, 32px);
        margin-bottom: clamp(10px, 1.4vw, 16px);

        color: #364152;
        font-size: clamp(13px, 1.2vw, 18px);
        font-weight: 500;
        line-height: 1.6;

        span {
          color: #121926;
          font-weight: 600;
        }

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0.2em;

          width: clamp(14px, 1.6vw, 19px);
          height: clamp(14px, 1.6vw, 19px);

          border-radius: 50%;
          border: clamp(2px, 0.35vw, 3px) solid #145fcb;
          background: #f3e2a5;
          box-sizing: border-box;
        }

        &:not(:last-child)::after {
          content: "";
          position: absolute;
          left: calc(clamp(14px, 1.6vw, 19px) / 2);
          top: calc(0.2em + clamp(14px, 1.6vw, 19px) + 8px);

          width: 1px;
          height: calc(100% + clamp(10px, 1.4vw, 16px));

          background-image: linear-gradient(
            to bottom,
            #cdd5df 5px,
            #cdd5df 5px,
            transparent 6px,
            transparent 5px
          );
          background-size: 3px 8px;
          background-repeat: repeat-y;
          opacity: 0.9;
        }
      }
    }
  }

  &-carusel {
    background-color: #fff;
    border-radius: clamp(12px, 1.4vw, 16px);
    padding: clamp(10px, 1.4vw, 16px);

    display: flex;
    align-items: center;
    gap: clamp(10px, 1.4vw, 16px);

    min-width: 0;

    flex-wrap: wrap;

    @include devices(sm) {
      flex-direction: column;
      align-items: stretch;
    }
  }
}
