.laws {
  padding: 30px;
  border-radius: 16px;
  background-color: #ffffff;

  .top {
    width: 100%;
    height: 1px;
    background-color: #e3e8ef;
    margin: 16px 0;
  }

  &-row {
    display: grid;
    grid-template-columns: 2.5fr 2fr 155px;
    align-items: center;
    gap: 20px;
    margin-bottom: 8px;

    h3 {
      color: #121926;
      font-size: 18px;
      font-weight: 600;
      margin: 0;
      display: block;
    }

    p {
      color: #364152;
      font-size: 16px;
      font-weight: 500;
      margin: 0;
    }

    &.laws-header {
      .text-right {
        text-align: right;
        padding-right: 20px;
      }
    }

    .btn-wrapper {
      display: flex;
      justify-content: flex-end;

      button {
        width: 151px;
        border-radius: 12px;
        border: 1px solid #145fcb;
        color: #145fcb;
        background-color: #f5f9ff;
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 8px;
        justify-content: center;
        cursor: pointer;
        i {
          font-size: 20px;
        }
      }
    }
  }
}
