.lider {
  
    &-top {
      width: 100%;
      height: 0.5px;
      background-color: #e3e8ef;
      margin-bottom: 25px;
    }
  &-card1 {
    background-color: #ffffff;
    border-radius: 16px;
    display: flex;
    overflow: visible;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
    background-image: url("../../images/events-img.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-size: 83px;
    background-position: right 20px top;
  }

  .lider-img-wrapper1 {
    position: relative;
    width: 434px;
    .lider-img-shef1 {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 12px;
    }
  }

  .lider-img-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 474px;

    &-image {
      position: relative;
      left: -40px;
    }

    .lider-img-shef {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 16px 0 0 16px;
    }

    .lider-gerb-circle {
      position: absolute;
      right: -40px;
      top: 50%;
      transform: translateY(-50%);
      height: 60px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 5;

      img {
        width: 87%;
      }
    }
  }

  &-card-text {
    &-top {
      width: 100%;
      height: 0.5px;
      background-color: #e3e8ef;
      margin-bottom: 25px;
    }
    padding: 30px 20px;
    flex: 1;
    p {
      color: #145fcb;
      font-size: 18px;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 6px;
      margin-bottom: 9px;
      span {
        width: 4px;
        height: 25px;
        background-color: #145fcb;
        border-radius: 26px;
      }
    }

    h4 {
      font-size: 28px;
      margin-bottom: 82px;
      font-weight: 600;
    }

    &-link {
      display: flex;
      gap: 20px;
      margin-bottom: 20px;
      a {
        text-decoration: none;
        color: #121926;
        font-size: 16px;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 8px;
        i {
          color: #145fcb;
          font-size: 24px;
        }
      }
    }

    &-button {
      display: flex;
      align-items: center;
      gap: 16px;
      button {
        background: #f5f9ff;
        color: #145fcb;
        border: 1px solid #145fcb;
        width: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-radius: 12px;
        gap: 8px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        transition: background 0.3s ease;

        &:hover {
          background: #0d4cb833;
        }
      }
    }
  }

  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: background 0.3s ease;

  &-card2 {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 12px;
    background-image: url("../../images/events-img.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-size: 83px;
    background-position: right 20px top;
    overflow: visible;
    margin-bottom: 30px;
    &-gerb {
      position: relative;
      left: -40px;
    }
    &-img {
      border-radius: 16px 0px 0px 16px;
    }
    &-text {
      position: relative;
      left: -25px;
      p {
        font-size: 18px;
        font-weight: 500px;
        color: #145fcb;
        margin-bottom: 9px;
        display: flex;
        align-items: center;
        gap: 6px;
        span {
          width: 4px;
          height: 25px;
          background-color: #145fcb;
          border-radius: 26px;
        }
      }
      h3 {
        font-weight: 600;
        font-size: 28px;
        line-height: 38px;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #000000;
        margin-bottom: 109px;
      }
      &-link {
        display: flex;
        align-items: center;
        gap: 20px;
        a {
          display: flex;
          align-items: center;
          gap: 8px;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #121926;
          margin-bottom: 16px;
          i {
            font-size: 24px;
            color: #145fcb;
          }
        }
      }
      &-btn {
        display: flex;
        align-items: center;
        gap: 16px;
        button {
          background: #f5f9ff;
          color: #145fcb;
          border: 1px solid #145fcb;
          width: 140px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
          border-radius: 12px;
          gap: 8px;
          cursor: pointer;
          font-size: 16px;
          font-weight: 500;
          transition: background 0.3s ease;

          &:hover {
            background: #0d4cb833;
          }
        }
      }
    }
  }

  &-card3 {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 12px;
    background-image: url("../../images/events-img.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-size: 83px;
    background-position: right 20px top;
    overflow: visible;
    margin-bottom: 30px;
    &-img {
      border-radius: 16px 0px 0px 16px;
    }
    &-line {
      left: -100px;
      width: 15px;
      height: 334px;
      background-color: #063462;
      position: relative;
    }
    &-gerb {
      position: relative;
      left: -48px;
      z-index: 10;
    }
   
    &-text {
      position: relative;
      left: -49px;
      p {
        font-size: 18px;
        color: #145fcb;
        font-weight: 500;
        margin-bottom: 9px;
        display: flex;
        gap: 8px;
        align-items: center;
        span {
          width: 4px;
          height: 25px;
          border-radius: 26px;
          background-color: #145fcb;
        }
      }
      h3 {
        font-size: 28px;
        font-weight: 600;
        color: #000000;
        margin-bottom: 106px;
      }
      &-link {
        display: flex;
        align-items: center;
        gap: 10px;
        a {
          display: flex;
          align-items: center;
          gap: 8px;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #121926;
          margin-bottom: 16px;
          i {
            font-size: 24px;
            color: #145fcb;
          }
        }
      }
    }
  }

  &-card4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 12px;
    background-image: url("../../images/events-img.png");
    background-repeat: no-repeat;
    cursor: pointer;
    margin-bottom: 30px;
  
  &-img {
    border-radius: 0px 16px 16px 0px;
  }
   &-line {
      left: 45px;
      width: 15px;
      height: 334px;
      background-color: #063462;
      position: relative;
    }
    &-gerb {
      position: relative;
      left: 130px;
      z-index: 10;
    }
  &-top {
    width: 100%;
    height: 0.5px;
    background-color: #e3e8ef;
    margin-bottom: 16px;
  }
  
  &-text {
    position: relative;
      left: 49px;
    p {
    font-size: 18px;
    color: #145fcb;
    font-weight: 500;
    margin-bottom: 9px;
    display: flex;
    gap: 8px;
    align-items: center;
    span {
      width: 4px;
      height: 25px;
      border-radius: 26px;
      background-color: #145fcb;
    }
  }
  h3 {
    font-size: 28px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 29px;
  }
    &-link {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
      margin-bottom: 16px;
    a {
      display: flex;
      align-items: center;
      gap: 8px;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #121926;
      padding: 10px 16px;
      background-color: #f4f8fd;
      border-radius: 12px;
      i {
        font-size: 24px;
        color: #145fcb;
      }
    }
  }
  }
}
}

.lider-details {
  display: none;
  background: #ffffff;
  padding: 25px;
  border-radius: 16px;
  margin-top: 10px;
  border: 1px solid #e3e8ef;
  animation: slideDown 0.3s ease-out;
  margin-bottom: 30px;

  h5 {
    font-weight: 700;
    margin-bottom: 15px;
  }
  ul {
    list-style: none;
    li {
      padding-left: 20px;
      position: relative;
      margin-bottom: 10px;
      &::before {
        content: "-";
        position: absolute;
        left: 0;
      }
    }
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
