.lider {
  &-top {
    width: 100%;
    height: 0.5px;
    background-color: #e3e8ef;
    margin-bottom: 25px;
  }

  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: background 0.3s ease;

  &-card4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 12px;
    background-image: url("../../images/events-img.png");
    background-repeat: no-repeat;
    cursor: pointer;
    margin-bottom: 30px;

    &-img {
      border-radius: 0px 16px 16px 0px;
    }
    &-line {
      left: 45px;
      width: 15px;
      height: 334px;
      background-color: #063462;
      position: relative;
    }
    &-gerb {
      position: relative;
      left: 130px;
      z-index: 10;
    }
    &-top {
      width: 100%;
      height: 0.5px;
      background-color: #e3e8ef;
      margin-bottom: 16px;
    }

    &-text {
      position: relative;
      left: 49px;
      p {
        font-size: 18px;
        color: #145fcb;
        font-weight: 500;
        margin-bottom: 9px;
        display: flex;
        gap: 8px;
        align-items: center;
        span {
          width: 4px;
          height: 25px;
          border-radius: 26px;
          background-color: #145fcb;
        }
      }
      h3 {
        font-size: 28px;
        font-weight: 600;
        color: #000000;
        margin-bottom: 29px;
      }
      &-link {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        margin-bottom: 16px;
        a {
          display: flex;
          align-items: center;
          gap: 8px;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #121926;
          padding: 10px 16px;
          background-color: #f4f8fd;
          border-radius: 12px;
          i {
            font-size: 24px;
            color: #145fcb;
          }
        }
      }
    }
  }
}

.lider-details {
  display: none;
  background: #ffffff;
  padding: 25px;
  border-radius: 16px;
  margin-top: 10px;
  border: 1px solid #e3e8ef;
  animation: slideDown 0.3s ease-out;
  margin-bottom: 30px;

  h5 {
    font-weight: 700;
    margin-bottom: 15px;
  }
  ul {
    list-style: none;
    li {
      padding-left: 20px;
      position: relative;
      margin-bottom: 10px;
      &::before {
        content: "-";
        position: absolute;
        left: 0;
      }
    }
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
