.listpage {
    background-color: #ffffffff;
    border-radius: 16px;
    padding: 16px;
    img {
        width: 100%;
    }
    h2 {
        font-size: 30px;
        font-weight: 600;
        color: #000000;
        margin-bottom: 16px
    }
    &-top {
        width: 100%;
        height: 0.5px;
        background-color: #E3E8EF;
        margin-bottom: 16px;
    }
    &-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
        &-list {
            display: flex;
            align-items: center;
            gap: 16px;
            button {
                padding: 10px 16px;
                border: 1px solid #145FCB;
                background-color: #F5F9FF;
                border-radius: 12px;
                font-size: 16px;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                color: #145FCB;
                i {
                    font-size: 20px;

                }
            }
        }
        &-link {
            display: flex;
            align-items: center;
            gap: 16px;
            button {
                padding: 10px 16px;
                border: 1px solid #145FCB;
                background-color: #F5F9FF;
                border-radius: 12px;
                font-size: 16px;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                color: #145FCB;
                i {
                    font-size: 20px;
                }
            }
        }
    }
}