.strukture {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 16px;
  background-image:
    url("../../images/strukture-backrund.png"),
    url("../../images/strukture-img-2.png");
  background-position:
    left top,
    right bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: 222px, 222px;

  h2 {
    font-size: 30px;
    font-weight: 600;
    color: #000000;
    text-align: center;
    margin-bottom: 16px;
  }

  &-top {
    width: 100%;
    height: 0.5px;
    background-color: #e3e8ef;
    margin-bottom: 16px;
  }

  img {
    padding: 30px 50px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}
