<section class="about-page">
  <!-- Gallery -->
  <div class="about-page__card">
    <div class="about-page__gallery">
      <img class="about-page__gallery-main" src="../../images/faq-img-1.png" alt="" />

      <div class="about-page__gallery-side">
        <img class="about-page__gallery-side-img" src="../../images/faq-img-2.png" alt="" />
        <img class="about-page__gallery-side-img" src="../../images/faq-img-3.png" alt="" />
      </div>
    </div>
  </div>

  <!-- Section 1 -->
  <div class="about-page__section">
    <h2 class="about-page__title">MILLIY MALAKA TIZIMINI RIVOJLANTIRISH INSTITUTI</h2>
    <div class="about-page__divider"></div>

    <p class="about-page__text">
      Oʻzbekistonda Milliy malaka tizimini rivojlantirish instituti Oʻzbekiston Respublikasi Prezidentining
      2024-yil 30-sentyabrda qabul qilingan <br />
      “O‘zbekiston Respublikasi milliy malaka tizimini yanada takomillashtirish chora-eventsi to‘g‘risida”gi
      PQ-345-sonli Qaroriga muvofiq tashkil etildi. <br />
      Shuningdek, Vazirlar Mahkamasining 2025-yil 17-iyunda qabul qilingan
      “O‘zbekiston Respublikasi milliy malaka tizimini tartibga solishga qaratilgan <br />
      ayrim normativ-huquqiy hujjatlarni tasdiqlash to‘g‘risida”gi VMQ-369-sonli Qaroriga ko‘ra O‘zbekiston
      Respublikasi Prezidenti Administratsiyasi <br />
      huzuridagi Ta’lim sifatini ta’minlash milliy agentligining Milliy malaka tizimini rivojlantirish instituti
      Respublika kengashining ishchi organi hisoblanadi <br />
      va Milliy malaka tizimini muvofiqlashtiruvchi regulator vazifasini bajaradi.
    </p>
  </div>

  <!-- Section 2 -->
  <div class="about-page__section">
    <h2 class="about-page__title">Asosiy faoliyat yoʻnalishlari va vazifalari</h2>
    <div class="about-page__divider"></div>

    <div class="about-page__list">
      <ul class="about-page__list-ul">
        <li class="about-page__list-li">Kasbiy malakalarni rivojlantirish boʻyicha respublika kengashining ishchi organi;</li>
        <li class="about-page__list-li">
          Respublika kengashi, tarmoq kengashlari va malakalarni baholash markazlari faoliyatini tashkiliy-uslubiy
          jihatdan taʼminlash;
        </li>
        <li class="about-page__list-li">
          Tarmoq malaka ramkalari, kasbiy standartlar va baholash vositalarining ishlab chiqilishi boʻyicha umumiy
          nazoratni amalga oshirish, ularni ekspertizadan oʻtkazish va joriy etish boʻyicha faoliyatni muvofiqlashtirish;
        </li>
        <li class="about-page__list-li">
          Taʼlim dasturlarini tegishli kasbiy standartlar yoki malaka talablariga muvofiqligi boʻyicha xulosalar berish;
        </li>
        <li class="about-page__list-li">
          Malakalarni baholash markazlarini akkreditatsiyadan oʻtkazish, faoliyatini monitoring qilish, ularning reestrini
          yuritish va zarur hollarda ularga uslubiy yordam koʻrsatish;
        </li>
        <li class="about-page__list-li">
          Milliy malaka tizimining yagona raqamli platformasini joriy etish, texnik jihatdan qoʻllab-quvvatlash, boshqa
          axborot tizimlari bilan integratsiya qilish, shuningdek, Milliy malaka tizimi masalalari boʻyicha
          maʼlumotlarni kiritish, tahlil qilish va qayta ishlashni amalga oshirish;
        </li>
        <li class="about-page__list-li">
          Milliy malaka tizimini rivojlantirish, takomillashtirish boʻyicha taklif va tavsiyalar ishlab chiqish hamda bu
          borada metodologik xizmatlar koʻrsatish;
        </li>
        <li class="about-page__list-li">
          Tarmoq kengashlari aʼzolari va malakalarni baholash markazlari xodimlarining malakasini oshirish;
        </li>
        <li class="about-page__list-li">
          Tasdiqlangan malakaga ega shaxslar milliy reestrini hamda kasbiy standartlar reestrini shakllantirish va yuritish;
        </li>
        <li class="about-page__list-li">
          Vazirlik va idoralardagi kasbiy malakalarni rivojlantirishga masʼul boʻlgan mutaxassislar faoliyatini
          muvofiqlashtirish hamda ularga amaliy yordam berish;
        </li>
        <li class="about-page__list-li">
          Milliy malaka tizimini rivojlantirish sohasidagi normativ-huquqiy hujjatlar loyihalarini ishlab chiqish;
        </li>
        <li class="about-page__list-li">
          Milliy malaka tizimini rivojlantirish sohasidagi istiqbolli loyihalarni amalga oshirish jarayonlarida ishtirok etish;
        </li>
        <li class="about-page__list-li">Milliy malaka tizimini muvofiqlashtiruvchi regulyator vazifasini bajarish.</li>
      </ul>
    </div>
  </div>

  <!-- Section 3 -->
  <div class="about-page__section">
    <h2 class="about-page__title">Faoliyat asoslari</h2>

    <div class="about-page__cards">
      <a href="#" class="about-page-card">
        <img class="about-page-card__icon" src="../../images/goya.svg" alt="icon" />
        <div class="about-page-card__line"></div>
        <b class="about-page-card__title">Innovatsiya</b>
        <p class="about-page-card__text">Yangicha yondashuvlar va zamonaviy texnologiyalardan foydalanish.</p>
      </a>

      <a href="#" class="about-page-card">
        <img class="about-page-card__icon" src="../../images/globus.svg" alt="icon" />
        <div class="about-page-card__line"></div>
        <b class="about-page-card__title">Shaffoflik</b>
        <p class="about-page-card__text">Barcha jarayonlarda ochiqlik hamda adolatli yondashuv.</p>
      </a>

      <a href="#" class="about-page-card">
        <img class="about-page-card__icon" src="../../images/kelishu.svg" alt="icon" />
        <div class="about-page-card__line"></div>
        <b class="about-page-card__title">Xalqaro hamkorlik</b>
        <p class="about-page-card__text">Dunyo tajribasini milliy amaliyotga joriy etish.</p>
      </a>

      <a href="#" class="about-page-card">
        <img class="about-page-card__icon" src="../../images/stratega.svg" alt="icon" />
        <div class="about-page-card__line"></div>
        <b class="about-page-card__title">Salohiyatni oshirish</b>
        <p class="about-page-card__text">Kasbiy rivojlanishni taʼminlash.</p>
      </a>

      <a href="#" class="about-page-card">
        <img class="about-page-card__icon" src="../../images/birgalikda.svg" alt="icon" />
        <div class="about-page-card__line"></div>
        <b class="about-page-card__title">Jamoaviy ish</b>
        <p class="about-page-card__text">Birgalikda natijaga erishish.</p>
      </a>
    </div>
  </div>

  <!-- Section 4 -->
  <div class="about-page__section">
    <h2 class="about-page__title">Strategik maqsad</h2>
    <div class="about-page__divider"></div>

    <div class="about-page__list">
      <ul class="about-page__list-ul">
        <li class="about-page__list-li">Milliy malaka tizimining normativ-huquqiy, institutsional va uslubiy asoslarini takomillashtirish;</li>
        <li class="about-page__list-li">Mashgʻulotlar, kasb va lavozimlar milliy klassifikatorini xalqaro standartlarga moslashtirib borish;</li>
        <li class="about-page__list-li">
          Malaka ramkalari, kasbiy standartlar va malaka talablarini ish beruvchilar talablari asosida ishlab chiqish,
          joriy qilish hamda rivojlantirish;
        </li>
        <li class="about-page__list-li">
          Yangi avlod kasbiy standartlar asosida mehnat munosabatlarini tartibga solish, oliy va kasbiy taʼlim dasturlarini
          takomillashtirish hamda kadrlar tayyorlash tizimini sifat jihatidan yangi bosqichga olib chiqish;
        </li>
        <li class="about-page__list-li">
          Malakalarning xalqaro miqyosda tan olinishini, milliy malaka darajalarining ilgʻor xorijiy davlatlar malaka darajalari
          bilan integratsiya qilinishini taʼminlash;
        </li>
        <li class="about-page__list-li">
          Norasmiy va informal orttirilgan koʻnikma va malakalarni tan olish (“Recognition of Prior Learning”) tizimini joriy qilish;
        </li>
        <li class="about-page__list-li">
          Koʻnikmalarni prognozlashtirish, koʻnikmalarga boʻlgan ehtiyojlarni tahlil qilish, koʻnikmalar bilan bogʻliq muammolarni
          oʻrganish vositalari va metodologiyalarini ishlab chiqish hamda joriy etish;
        </li>
        <li class="about-page__list-li">
          Milliy malaka tizimini toʻlaqonli yoʻlga qoʻyish boʻyicha strategik rejalar ishlab chiqish hamda xususiy sektor
          ishtirokini kengaytirish;
        </li>
        <li class="about-page__list-li">
          Milliy malaka tizimini rivojlantirish jarayonlarini monitoring qilish, jamoatchilik fikrini oʻrganish va axborot
          almashinuvini samarali yoʻlga qoʻyish.
        </li>
      </ul>
    </div>
  </div>
</section>