<section class="careersview">
    <div class="careersview-text">
        <h2>Ta’lim menejmenti kafedrasi katta o'qituvchisi.</h2>
        <div class="careersview-text-top"></div>
        <b>Nomzodga qo’yilgan talablar:</b>
        <ul>
            <li>Ma’lumoti:</li>
            <li>Magistr darajasidagi oliy pedagogik ma’lumotga ega bo‘lishi zarur;</li>
            <li>Ilmiy daraja (jumladan, fan nomzodi, falsafa doktori (PhD) yoki unga tenglashtirilgan xorijiy ilmiy
                darajalar) hamda ilmiy unvonga ega bo‘lish — afzal hisoblanadi;</li>
            <li>Shu bilan birga, bunday daraja yoki unvonga ega bo‘lmagan, biroq o‘qituvchilik, ilmiy-tadqiqot yoki
                ishlab chiqarish tajribasiga ega nomzodlar ham ishtirok etishi mumkin.</li>
            <li>Mutaxassisligi</li>
            <li>Institut faoliyati bilan bog‘liq tegishli yo‘nalishdagi ilmiy-pedagogik soha bo‘yicha.</li>
            <li>Mehnat staji:</li>
            <li>Kamida 2 yillik umumiy ish tajribasiga ega bo‘lishi kerak;</li>
            <li>Shundan kamida 1 yil ta’lim sohasida ilmiy-pedagogik yo‘nalishda faoliyat yuritgan bo‘lishi zarur.</li>
            <li>Kompyuter savodxonligi:</li>
            <li>Microsoft Office dasturlarini (Word, Excel, PowerPoint va boshqalar) mukammal bilish;</li>
            <li>Zamonaviy axborot texnologiyalari va internet tarmog‘ida mustaqil ishlay olish;</li>
            <li>Turli ish dasturlari bilan samarali ishlash bo‘yicha yetarli amaliy ko‘nikmaga ega bo‘lish.</li>
            <li>Qo‘shimcha talablar:</li>
            <li> O‘zbekiston Respublikasining quyidagi lawsini chuqur bilish:</li>
            <li>• “Maktabgacha ta’lim va tarbiya to‘g‘risida”;• “Ta’lim to‘g‘risida”;• “Davlat fuqarolik xizmati
                to‘g‘risida”.</li>
            <li>Davlat tilini mukammal bilish, shuningdek rus, ingliz yoki boshqa chet tillarini bilish — afzal
                hisoblanadi.</li>
            <li>Soha bo‘yicha normativ-huquqiy hujjatlar, davlat standartlari va metodik asoslardan xabardor bo‘lish.
            </li>
            <li>Doimiy ravishda malakasini oshirib borish, ilmiy-pedagogik faoliyatda zamonaviy yondashuvlardan
                foydalanish.</li>
            <li>Lavozim majburiyatlarida belgilangan vazifalarni mas’uliyat bilan va samarali bajarish.</li>
        </ul>
    </div>

    <div class="careersview-input">
        <h2>Ariza yuborish</h2>
        <div class="careersview-input-top"></div>
        <div class="careersview-input-img">
            <div class="careersview-input-img-flex">
                <img src="../../images/mani.svg" alt="">
                <div>
                    <p class="careersview-input-img-flex-p1">Ish haqi</p>
                    <p class="careersview-input-img-flex-p2">8 mln so’m</p>
                </div>
            </div>

            <div class="careersview-input-img-flex">
                <img src="../../images/mani.svg" alt="">
                <div>
                    <p class="careersview-input-img-flex-p1">Ish vaqti</p>
                    <p class="careersview-input-img-flex-p2">Dushanba - Juma, 9:00-18:00</p>
                </div>
            </div>
            <div class="careersview-input-img-flex">
                <img src="../../images/mani.svg" alt="">
                <div>
                    <p class="careersview-input-img-flex-p1">Manzil</p>
                    <p class="careersview-input-img-flex-p2">Toshkent shahri, Olmazor tumani, Talabalar ko‘chasi, 12-uy.
                    </p>
                </div>
            </div>
            <div class="careersview-input-img-flex">
                <img src="../../images/mani.svg" alt="">
                <div>
                    <p class="careersview-input-img-flex-p1">Raqam</p>
                    <p class="careersview-input-img-flex-p2">+998 (71) 123 12 12</p>
                </div>
            </div>
        </div>
        <div class="careersview-input-top"></div>
        <form>
            <div class="field">
                <label for="name">F.I.O *</label>
                <input type="text" id="name" placeholder="Isim va familiyangizni kiriting">
            </div>
            <div class="field">
                <label for="name">Telefon raqam *</label>
                <input type="text" id="name" placeholder="Telefon raqamingizni kiriting">
            </div>
            <div class="field">
                <label for="name">Elektron pochta *</label>
                <input type="text" id="name" placeholder="Elektron pochtangizni kiriting">
            </div>
            <div class="field">
                <label for="name">Elektron pochtangizni kiriting</label>
                <input type="text" id="name" placeholder="Isim va familiyangizni kiriting">
            </div>
        </form>
        <button class="careersview-input-btn">Yuborish</button>
    </div>
</section>