<section class="central">
    <!-- Card 1 -->
    <article class="central__card">
        <div class="central__row">
            <div class="central__media">
                <img src="../../images/central-img-1.png" alt="Rajabov Barna Jurakulovich" class="central__img" />
            </div>

            <div class="central__content">
                <p class="central__role">
                    <span class="central__role-bar"></span>
                    Tarmoq kengashlari bilan ishlash kasbiy standartlar guruhi rahbari
                </p>

                <h4 class="central__name">Rajabov Barna Jurakulovich</h4>

                <div class="central__links">
                    <a class="central__link" href="tel:+998555165453">
                        <i class="i-phone"></i><span>+99855-516-54-53 (113)</span>
                    </a>

                    <a class="central__link" href="mailto:b.rajabov@mmtri.uz">
                        <i class="i-maile"></i><span>b.rajabov@mmtri.uz</span>
                    </a>

                    <a class="central__link" href="#">
                        <i class="i-calendar"></i><span>Seshanba 09:00 - 18:00</span>
                    </a>
                </div>

                <div class="central__hr"></div>

                <div class="central__actions">
                    <button class="central__toggle" type="button" data-target="tasks-1">
                        Vazifalari <i class="i-dropdown"></i>
                    </button>
                    <button class="central__toggle" type="button" data-target="bio-1">
                        Biografiyasi <i class="i-dropdown"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="central__detailsWrap">
            <div class="central__details" data-id="tasks-1">
                <h5 class="central__detailsTitle">Vazifalari</h5>
                <div class="central__detailsHr"></div>
                <ul class="central__list">
                    <li class="central__listItem">Malaka oshirish dasturlarini tashkil etadi</li>
                    <li class="central__listItem">O'quv-uslubiy materiallar tayyorlaydi</li>
                    <li class="central__listItem">Treninglar va seminarlarni muvofiqlashtiradi</li>
                </ul>
            </div>

            <div class="central__details" data-id="bio-1">
                <h5 class="central__detailsTitle">Biografiyasi</h5>
                <div class="central__detailsHr"></div>
                <p class="central__detailsText">
                    Kurbanova Muazzam Fazlitdinovna malaka oshirish va o'qitish metodikasi bo'yicha tajribali
                    mutaxassis.
                </p>
            </div>
        </div>
    </article>

    <!-- Card 2 -->
    <article class="central__card">
        <div class="central__row">
            <div class="central__media">
                <img src="../../images/central-img-2.png" alt="Xayitov Nazar Boymurot o'g'li" class="central__img" />
            </div>

            <div class="central__content">
                <p class="central__role">
                    <span class="central__role-bar"></span>
                    Malakani baholash va akkreditatsiya guruhi rahbari v.v.b
                </p>

                <h4 class="central__name">Xayitov Nazar Boymurot o'g'li</h4>

                <div class="central__links">
                    <a class="central__link" href="tel:+998555165453">
                        <i class="i-phone"></i><span>+99855-516-54-53 (126)</span>
                    </a>

                    <a class="central__link" href="mailto:n.xayitov@mmtri.uz">
                        <i class="i-maile"></i><span>n.xayitov@mmtri.uz</span>
                    </a>

                    <a class="central__link" href="#">
                        <i class="i-calendar"></i><span>Chorshanba 09:00 - 18:00</span>
                    </a>
                </div>

                <div class="central__hr"></div>

                <div class="central__actions">
                    <button class="central__toggle" type="button" data-target="tasks-2">
                        Vazifalari <i class="i-dropdown"></i>
                    </button>
                    <button class="central__toggle" type="button" data-target="bio-2">
                        Biografiyasi <i class="i-dropdown"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="central__detailsWrap">
            <div class="central__details" data-id="tasks-2">
                <h5 class="central__detailsTitle">Vazifalari</h5>
                <div class="central__detailsHr"></div>
                <ul class="central__list">
                    <li class="central__listItem">Malaka oshirish dasturlarini tashkil etadi</li>
                    <li class="central__listItem">O'quv-uslubiy materiallar tayyorlaydi</li>
                    <li class="central__listItem">Treninglar va seminarlarni muvofiqlashtiradi</li>
                </ul>
            </div>

            <div class="central__details" data-id="bio-2">
                <h5 class="central__detailsTitle">Biografiyasi</h5>
                <div class="central__detailsHr"></div>
                <p class="central__detailsText">
                    Kurbanova Muazzam Fazlitdinovna malaka oshirish va o'qitish metodikasi bo'yicha tajribali
                    mutaxassis.
                </p>
            </div>
        </div>
    </article>

    <!-- Card 3 -->
    <article class="central__card">
        <div class="central__row">
            <div class="central__media">
                <img src="../../images/central-img-3.png" alt="Fatullayeva Nargiza Asrorovna" class="central__img" />
            </div>

            <div class="central__content">
                <p class="central__role">
                    <span class="central__role-bar"></span>
                    Strategik rivojlanish, tadqiqotlar va xalqaro hamkorlik guruhi rahbari v.v.b
                </p>

                <h4 class="central__name">Fatullayeva Nargiza Asrorovna</h4>

                <div class="central__links">
                    <a class="central__link" href="tel:+998555165453">
                        <i class="i-phone"></i><span>+99855-516-54-53 (134)</span>
                    </a>

                    <a class="central__link" href="mailto:n.fatullayeva@mmtri.uz">
                        <i class="i-maile"></i><span>n.fatullayeva@mmtri.uz</span>
                    </a>

                    <a class="central__link" href="#">
                        <i class="i-calendar"></i><span>Chorshanba 09:00 - 18:00</span>
                    </a>
                </div>

                <div class="central__hr"></div>

                <div class="central__actions">
                    <button class="central__toggle" type="button" data-target="tasks-3">
                        Vazifalari <i class="i-dropdown"></i>
                    </button>
                    <button class="central__toggle" type="button" data-target="bio-3">
                        Biografiyasi <i class="i-dropdown"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="central__detailsWrap">
            <div class="central__details" data-id="tasks-3">
                <h5 class="central__detailsTitle">Vazifalari</h5>
                <div class="central__detailsHr"></div>
                <ul class="central__list">
                    <li class="central__listItem">Institut strategik rivojlanish rejalarini ishlab chiqadi</li>
                    <li class="central__listItem">Ilmiy tadqiqot ishlarini muvofiqlashtiradi</li>
                    <li class="central__listItem">Xalqaro hamkorlik loyihalarini boshqaradi</li>
                </ul>
            </div>

            <div class="central__details" data-id="bio-3">
                <h5 class="central__detailsTitle">Biografiyasi</h5>
                <div class="central__detailsHr"></div>
                <p class="central__detailsText">
                    Fatullayeva Nargiza Asrorovna strategik rejalashtirish va xalqaro hamkorlik sohasida ko'p yillik
                    tajribaga ega.
                </p>
            </div>
        </div>
    </article>

    <!-- Card 4 -->
    <article class="central__card">
        <div class="central__row">
            <div class="central__media">
                <img src="../../images/central-img-4.png" alt="Kurbanova Muazzam Fazlitdinovna" class="central__img" />
            </div>

            <div class="central__content">
                <p class="central__role">
                    <span class="central__role-bar"></span>
                    Malaka oshirishni tashkil etish va uslubiy ta'minot guruhi rahbari
                </p>

                <h4 class="central__name">Kurbanova Muazzam Fazlitdinovna</h4>

                <div class="central__links">
                    <a class="central__link" href="tel:+998555165453">
                        <i class="i-phone"></i><span>+99855-516-54-53 (139)</span>
                    </a>

                    <a class="central__link" href="mailto:m.kurbanova@mmtri.uz">
                        <i class="i-maile"></i><span>m.kurbanova@mmtri.uz</span>
                    </a>

                    <a class="central__link" href="#">
                        <i class="i-calendar"></i><span>Juma 09:00 - 18:00</span>
                    </a>
                </div>

                <div class="central__hr"></div>

                <div class="central__actions">
                    <button class="central__toggle" type="button" data-target="tasks-4">
                        Vazifalari <i class="i-dropdown"></i>
                    </button>
                    <button class="central__toggle" type="button" data-target="bio-4">
                        Biografiyasi <i class="i-dropdown"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="central__detailsWrap">
            <div class="central__details" data-id="tasks-4">
                <h5 class="central__detailsTitle">Vazifalari</h5>
                <div class="central__detailsHr"></div>
                <ul class="central__list">
                    <li class="central__listItem">Malaka oshirish dasturlarini tashkil etadi</li>
                    <li class="central__listItem">O'quv-uslubiy materiallar tayyorlaydi</li>
                    <li class="central__listItem">Treninglar va seminarlarni muvofiqlashtiradi</li>
                </ul>
            </div>

            <div class="central__details" data-id="bio-4">
                <h5 class="central__detailsTitle">Biografiyasi</h5>
                <div class="central__detailsHr"></div>
                <p class="central__detailsText">
                    Kurbanova Muazzam Fazlitdinovna malaka oshirish va o'qitish metodikasi bo'yicha tajribali
                    mutaxassis.
                </p>
            </div>
        </div>
    </article>
</section>

<script>
    (function () {
        const section = document.querySelector(".central");
        if (!section) return;

        const cards = section.querySelectorAll(".central__card");

        const closeCard = (card) => {
            card.querySelector(".central__detailsWrap")?.classList.remove("is-open");
            card.querySelectorAll(".central__details").forEach((p) => p.classList.remove("is-active"));
            card.querySelectorAll(".central__toggle").forEach((b) => b.classList.remove("is-active"));
        };

        cards.forEach((card) => {
            const toggles = card.querySelectorAll(".central__toggle");
            const wrap = card.querySelector(".central__detailsWrap");
            const panels = card.querySelectorAll(".central__details");
            if (!wrap) return;

            toggles.forEach((btn) => {
                btn.addEventListener("click", () => {
                    const target = btn.getAttribute("data-target");
                    const panel = wrap.querySelector(`.central__details[data-id="${target}"]`);
                    if (!panel) return;

                    cards.forEach((c) => {
                        if (c !== card) closeCard(c);
                    });

                    const isOpen = panel.classList.contains("is-active");

                    panels.forEach((p) => p.classList.remove("is-active"));
                    toggles.forEach((b) => b.classList.remove("is-active"));

                    if (isOpen) {
                        closeCard(card);
                        return;
                    }

                    panel.classList.add("is-active");
                    btn.classList.add("is-active");
                    wrap.classList.add("is-open");
                });
            });
        });
    })();
</script>