<section class="central">
    <div class="lider-card1">
        <div class="lider-img-wrapper1">
            <img src="../../images/central-img-1.png" alt="Direktor" class="lider-img-shef1">
        </div>

        <div class="lider-card-text">
            <p><span></span> Tarmoq kengashlari bilan ishlash kasbiy standartlar guruhi rahbari</p>
            <h4>Rajabov Barna Jurakulovich</h4>

            <div class="lider-card-text-link">
                <a href="tel:+998555165451"><i class="i-phone"></i>+99855-516-54-53 (113)</a>
                <a href="mailto:a.allabergenov@mmtri.uz"><i class="i-maile"></i> b.rajabov@mmtri.uz</a>
                <a href="mailto:Dushanba 09:00 - 18:00"><i class="i-calendar"></i>Seshanba 09:00 - 18:00</a>
            </div>

            <div class="lider-card-text-top"></div>

            <div class="lider-card-text-button">
                <button class="toggle-btn" data-target="vazifa-1">Vazifalari <i class="i-dropdown"></i></button>
                <button class="toggle-btn" data-target="bio-1">Biografiyasi<i class="i-dropdown"></i></button>
            </div>
        </div>
    </div>
    <div id="vazifa-1" class="lider-details">
        <h5>Vazifalari (Direktor)</h5>
        <div class="lider-card-text-top"></div>
        <ul>
            <li>Institut faoliyatiga rahbarlik qiladi</li>
            <li>Buyruqlar chiqaradi</li>
        </ul>
    </div>
    <div id="bio-1" class="lider-details">
        <h5>Biografiyasi</h5>
        <p>Direktor haqida ma’lumot...</p>
    </div>
<!-- 2 -->

<div class="lider-card1">
        <div class="lider-img-wrapper1">
            <img src="../../images/central-img-2.png" alt="Direktor" class="lider-img-shef1">
        </div>

        <div class="lider-card-text">
            <p><span></span>Malakani baholash va akkreditatsiya guruhi rahbari v.v.b</p>
            <h4>Xayitov Nazar Boymurot o‘g‘li</h4>

            <div class="lider-card-text-link">
                <a href="tel:+998555165451"><i class="i-phone"></i>+99855-516-54-53 (126)</a>
                <a href="mailto:a.allabergenov@mmtri.uz"><i class="i-maile"></i> b.rajabov@mmtri.uz</a>
                <a href="mailto:Dushanba 09:00 - 18:00"><i class="i-calendar"></i>Chorshanba  09:00 - 18:00</a>
            </div>

            <div class="lider-card-text-top"></div>

            <div class="lider-card-text-button">
                <button class="toggle-btn" data-target="vazifa-1">Vazifalari <i class="i-dropdown"></i></button>
                <button class="toggle-btn" data-target="bio-1">Biografiyasi<i class="i-dropdown"></i></button>
            </div>
        </div>
    </div>
    <div id="vazifa-1" class="lider-details">
        <h5>Vazifalari (Direktor)</h5>
        <div class="lider-card-text-top"></div>
        <ul>
            <li>Institut faoliyatiga rahbarlik qiladi</li>
            <li>Buyruqlar chiqaradi</li>
        </ul>
    </div>
    <div id="bio-1" class="lider-details">
        <h5>Biografiyasi</h5>
        <p>Direktor haqida ma’lumot...</p>
    </div>
    <!-- 3 -->
     <div class="lider-card1">
        <div class="lider-img-wrapper1">
            <img src="../../images/central-img-3.png" alt="Direktor" class="lider-img-shef1">
        </div>

        <div class="lider-card-text">
            <p><span></span>Strategik rivojlanish, tadqiqotlar va xalqaro hamkorlik guruhi rahbari v.v.b</p>
            <h4>Fatullayeva Nargiza Asrorovna</h4>

            <div class="lider-card-text-link">
                <a href="tel:+998555165451"><i class="i-phone"></i>+99855-516-54-53 (134)</a>
                <a href="mailto:a.allabergenov@mmtri.uz"><i class="i-maile"></i>n.fatullayeva@mmtri.uz</a>
                <a href="mailto:Dushanba 09:00 - 18:00"><i class="i-calendar"></i> Chorshanba  09:00 - 18:00</a>
            </div>

            <div class="lider-card-text-top"></div>

            <div class="lider-card-text-button">
                <button class="toggle-btn" data-target="vazifa-1">Vazifalari <i class="i-dropdown"></i></button>
                <button class="toggle-btn" data-target="bio-1">Biografiyasi<i class="i-dropdown"></i></button>
            </div>
        </div>
    </div>
    <div id="vazifa-1" class="lider-details">
        <h5>Vazifalari (Direktor)</h5>
        <div class="lider-card-text-top"></div>
        <ul>
            <li>Institut faoliyatiga rahbarlik qiladi</li>
            <li>Buyruqlar chiqaradi</li>
        </ul>
    </div>
    <div id="bio-1" class="lider-details">
        <h5>Biografiyasi</h5>
        <p>Direktor haqida ma’lumot...</p>
    </div>
    <!-- 4 -->
     <div class="lider-card1">
        <div class="lider-img-wrapper1">
            <img src="../../images/central-img-4.png" alt="Direktor" class="lider-img-shef1">
        </div>

        <div class="lider-card-text">
            <p><span></span> Malaka oshirishni tashkil etish va uslubiy ta’minot guruhi rahbari</p>
            <h4>Kurbanova Muazzam Fazlitdinovna</h4>

            <div class="lider-card-text-link">
                <a href="tel:+998555165451"><i class="i-phone"></i>+99855-516-54-53 (139)</a>
                <a href="mailto:a.allabergenov@mmtri.uz"><i class="i-maile"></i>+99855-516-54-53 (139)</a>
                <a href="mailto:Dushanba 09:00 - 18:00"><i class="i-calendar"></i> Juma   09:00 - 18:00</a>
            </div>

            <div class="lider-card-text-top"></div>

            <div class="lider-card-text-button">
                <button class="toggle-btn" data-target="vazifa-1">Vazifalari <i class="i-dropdown"></i></button>
                <button class="toggle-btn" data-target="bio-1">Biografiyasi<i class="i-dropdown"></i></button>
            </div>
        </div>
    </div>
    <div id="vazifa-1" class="lider-details">
        <h5>Vazifalari (Direktor)</h5>
        <div class="lider-card-text-top"></div>
        <ul>
            <li>Institut faoliyatiga rahbarlik qiladi</li>
            <li>Buyruqlar chiqaradi</li>
        </ul>
    </div>
    <div id="bio-1" class="lider-details">
        <h5>Biografiyasi</h5>
        <p>Direktor haqida ma’lumot...</p>
    </div>
</section>


<script>
    document.querySelectorAll('.toggle-btn').forEach(button => {
        button.addEventListener('click', function () {
            const targetId = this.getAttribute('data-target');
            const targetContent = document.getElementById(targetId);

            document.querySelectorAll('.lider-details').forEach(detail => {
                if (detail.id !== targetId) {
                    detail.style.display = 'none';
                }
            });

            if (targetContent) {
                const currentDisplay = window.getComputedStyle(targetContent).display;
                if (currentDisplay === 'none') {
                    targetContent.style.display = 'block';
                } else {
                    targetContent.style.display = 'none';
                }
            }
        });
    });
</script>