<section class="contact">
  <div class="container contact__container">
    <div class="contact__main">
      <!-- LEFT -->
      <div class="contact__left">
        <h2 class="contact__title">Aloqa ma’lumotlari</h2>
        <div class="contact__divider"></div>

        <div class="contact__grid">
          <div class="contact-item">
            <a class="contact-item__icon" href="tel:+998555165453" aria-label="Telefon">
              <i class="i-phone"></i>
            </a>
            <div class="contact-item__content">
              <b class="contact-item__label">Telefon raqam</b>
              <a class="contact-item__value" href="tel:+998555165453">+998 (55) 516 54 53</a>
            </div>
          </div>

          <div class="contact-item">
            <a class="contact-item__icon" href="mailto:info@mmtri.uz" aria-label="Email">
              <i class="i-maile"></i>
            </a>
            <div class="contact-item__content">
              <b class="contact-item__label">Elektron pochta</b>
              <a class="contact-item__value" href="mailto:info@mmtri.uz">info@mmtri.uz</a>
            </div>
          </div>

          <div class="contact-item">
            <a class="contact-item__icon" href="#" aria-label="Manzil">
              <i class="i-location"></i>
            </a>
            <div class="contact-item__content">
              <b class="contact-item__label">Manzil</b>
              <a class="contact-item__value" href="#">Olmozor tumani, Talabar ko’chasi 12-uy</a>
            </div>
          </div>

          <div class="contact-item">
            <a class="contact-item__icon" href="#" aria-label="Ish vaqti">
              <i class="i-calendar"></i>
            </a>
            <div class="contact-item__content">
              <b class="contact-item__label">Ish vaqti</b>
              <a class="contact-item__value" href="#">Dush - Jum 09:00 - 18:00</a>
            </div>
          </div>
        </div>

        <h2 class="contact__title contact__title--mt">Ijtimoiy tarmoqlar</h2>
        <div class="contact__divider"></div>

        <div class="contact__grid">
          <div class="contact-item">
            <a class="contact-item__icon contact-item__icon--img" href="#" aria-label="Telegram">
              <img src="../../images/teligram.svg" alt="Telegram" />
            </a>
            <div class="contact-item__content">
              <b class="contact-item__label">Telegram</b>
              <a class="contact-item__value" href="#">@username</a>
            </div>
          </div>

          <div class="contact-item">
            <a class="contact-item__icon contact-item__icon--img" href="#" aria-label="Facebook">
              <img src="../../images/facebook.svg" alt="Facebook" />
            </a>
            <div class="contact-item__content">
              <b class="contact-item__label">Facebook</b>
              <a class="contact-item__value" href="#">/page</a>
            </div>
          </div>

          <div class="contact-item">
            <a class="contact-item__icon contact-item__icon--img" href="#" aria-label="Instagram">
              <img src="../../images/instagram.svg" alt="Instagram" />
            </a>
            <div class="contact-item__content">
              <b class="contact-item__label">Instagram</b>
              <a class="contact-item__value" href="#">@username</a>
            </div>
          </div>

          <div class="contact-item">
            <a class="contact-item__icon contact-item__icon--img" href="#" aria-label="YouTube">
              <img src="../../images/yutube.svg" alt="YouTube" />
            </a>
            <div class="contact-item__content">
              <b class="contact-item__label">YouTube</b>
              <a class="contact-item__value" href="#">Channel</a>
            </div>
          </div>
        </div>
      </div>

      <!-- RIGHT -->
      <div class="contact__right">
        <h2 class="contact__title">Bizga xabar yuboring</h2>
        <div class="contact__divider"></div>

        <form class="contact-form">
          <div class="contact-form__grid">
            <label class="contact-form__field">
              <span class="contact-form__label">Ism*</span>
              <input class="contact-form__input" type="text" placeholder="Ismingizni kiriting" required />
            </label>

            <label class="contact-form__field">
              <span class="contact-form__label">Familiya</span>
              <input class="contact-form__input" type="text" placeholder="Familiyangizni kiriting" />
            </label>

            <label class="contact-form__field">
              <span class="contact-form__label">Elektron pochtangiz*</span>
              <input class="contact-form__input" type="email" placeholder="example@mail.com" required />
            </label>

            <label class="contact-form__field">
              <span class="contact-form__label">Mavzu</span>
              <input class="contact-form__input" type="text" placeholder="Mavzuni kiriting" />
            </label>
          </div>

          <label class="contact-form__field contact-form__field--full">
            <span class="contact-form__label">Habaringiz*</span>
            <textarea class="contact-form__textarea" rows="4" placeholder="Habarni kiriting" required></textarea>
          </label>

          <label class="contact-form__agree">
            <input class="contact-form__checkbox" type="checkbox" required />
            <span>
              Men saytdan <b>foydalanish shartlari va qoidalariga</b> rozilik bildiraman
            </span>
          </label>

          <button class="contact-form__btn" type="submit">Yuborish</button>
        </form>
      </div>
    </div>
  </div>

  <iframe
    class="contact__map"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3864.971737239953!2d69.22059327666942!3d41.34679789851098!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8d003fc1af03%3A0xb64feee46c377553!2sMilliy%20malaka%20tizimini%20rivojlantirish%20instituti!5e1!3m2!1sru!2s!4v1770291340817!5m2!1sru!2s"
    width="100%"
    height="505"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade">
  </iframe>
</section>