<section class="contact">
    <div class="container">
    <div class="contact-main">
        <div class="contact-main-left">
            <h2>Aloqa ma’lumotlari</h2>
            <div class="contact-top"></div>
            <div class="contact-main-left-item">
                <div class="contact-main-left-item-text">
                    <a href="#"><i class="i-phone"></i></a>
                    <div class="contact-main-left-item-text-link">
                        <b>Telefon raqam</b>
                        <a href="#">+998 (55) 516 54 53</a>
                    </div>
                </div>

                <div class="contact-main-left-item-text">
                    <a href="#"><i class="i-maile"></i></a>
                    <div class="contact-main-left-item-text-link">
                        <b>Elektron pochta</b>
                        <a href="#">info@mmtri.uz</a>
                    </div>
                </div>

                <div class="contact-main-left-item-text">
                    <a href="#"><i class="i-location"></i></a>
                    <div class="contact-main-left-item-text-link">
                        <b>Manzil</b>
                        <a href="#">Olmozor tumani, Talabar ko’chasi 12-uy</a>
                    </div>
                </div>

                <div class="contact-main-left-item-text">
                    <a href="#"><i class="i-calendar"></i></a>
                    <div class="contact-main-left-item-text-link">
                        <b>Ish vaqti</b>
                        <a href="#">Dush - Jum 09:00 - 18:00</a>
                    </div>
                </div>
            </div>

            <h2>Ijtimoiy tarmoqlar</h2>
            <div class="contact-top"></div>
            <div class="contact-main-left-item">
                <div class="contact-main-left-item-text">
                    <a href="#"><img src="../../images/teligram.svg" alt="teligram"></a>
                    <div class="contact-main-left-item-text-link">
                        <b>Telefon raqam</b>
                        <a href="#">+998 (55) 516 54 53</a>
                    </div>
                </div>

                <div class="contact-main-left-item-text">
                    <a href="#"><img src="../../images/facebook.svg" alt="facebook"></a>
                    <div class="contact-main-left-item-text-link">
                        <b>Elektron pochta</b>
                        <a href="#">info@mmtri.uz</a>
                    </div>
                </div>

                <div class="contact-main-left-item-text">
                    <a href="#"><img src="../../images/instagram.svg" alt="instagram"></a>
                    <div class="contact-main-left-item-text-link">
                        <b>Manzil</b>
                        <a href="#">Olmozor tumani, Talabar ko’chasi 12-uy</a>
                    </div>
                </div>

                <div class="contact-main-left-item-text">
                    <a href="#"><img src="../../images/yutube.svg" alt="yutube"></a>
                    <div class="contact-main-left-item-text-link">
                        <b>Ish vaqti</b>
                        <a href="#">Dush - Jum 09:00 - 18:00</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 2 -->

        <div class="contact-main-rait">
            <h2>Bizga xabar yuboring</h2>
            <div class="contact-top"></div>
                <form class="contact-main-rait-item">
                    <div class="contact-main-rait-item-link">
                        <p>ism*</p>
                        <input type="text" placeholder="Ismingini kiriting">
                    </div>
                    <div class="contact-main-rait-item-link">
                        <p>Familiya</p>
                        <input type="text" placeholder="Familiyangizni kiriting">
                    </div>
                    <div class="contact-main-rait-item-link">
                        <p>Elektron pochtangiz *</p>
                        <input type="text" placeholder="Elektron pochtangizni kiriting">
                    </div>
                    <div class="contact-main-rait-item-link">
                        <p>Mavzu</p>
                        <input type="email" name="email" required placeholder="Elektron pochtangizni kiriting" pattern="^[a-zA-Z0-9._%+-]+@gmail\.com$" title="Faqat @gmail.com email kiriting"">
                    </div>
                </form>
                <div class="contact-main-rait-text">
                    <p>Habaringiz *</p>
                    <textarea id="message" rows="1" placeholder="Habarni kriting"></textarea>
                </div>
                <div class="contact-main-rait-radio">
                    <input type="checkbox">
                    <p>Men saytdan <span>foydalanish shartlari va qoidalariga rozilik bildiraman</span></p>
                </div>
                <button class="contact-main-rait-btn">Yuborish</button>
        </div>
    </div>
    </div>

    <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3864.971737239953!2d69.22059327666942!3d41.34679789851098!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8d003fc1af03%3A0xb64feee46c377553!2sMilliy%20malaka%20tizimini%20rivojlantirish%20instituti!5e1!3m2!1sru!2s!4v1770291340817!5m2!1sru!2s"
        width="100%" height="505" style="" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</section> 