<section class="equality">
    <div class="equality-image">
        <img src="../../images/equality.png" alt="">
        <p>“Yer yuzidagi har qaysi jamiyatning madaniy darajasi uning ayollarga nisbatan munosabati bilan belgilanadi”
            O’zbekiston Respublikasi Prezidenti <span> Shavkat Miromonovich Mirziyoyev </span>
        </p>
    </div>
    <div class="equality-text">
        <h2>Oʻzbekistonda gender equality va ayollarning huquq hamda imkoniyatlari</h2>
        <div class="top"></div>
        <ul class="equality-text-link">
            <li>Bugungi globallashuv davrida gender tengligi masalasi butun dunyo miqyosida eng dolzarb mavzulardan biri
                sifatida maydonga chiqmoqda. «Gender Equality» – bu faqatgina ayollarning huquqlarini himoya qilish
                emas, balki jamiyatda erkak va ayolning birdek imkoniyatlarga ega bo‘lishi, har bir insonning
                salohiyatini to‘liq ro‘yobga chiqarishi demakdir.</li>
            <li>Birlashgan Millatlar Tashkiloti (UN) gender tenglikni insoniyat taraqqiyotining asosiy sharti sifatida
                belgilagan. “CEDAW” ­– “Convention on the Elimination of All Forms of Discrimination Against
                Women” (1979) – “Ayollarga nisbatan kamsitishning barcha shakllarini tugatish to‘g‘risida Konvensiya”
                hamda “SDG 5” – “Sustainable Development Goals” – “Barqaror rivojlanish maqsadlari” gender tenglikni
                ta’minlashning xalqaro kafolatlari sifatida qabul qilingan.</li>
            <li>O‘zbekistonda ham ushbu masala davlat siyosati darajasiga ko‘tarilgan. Xususan, O’zbekiston Respublikasi
                Prezidenti tomonidan 2019-yil 2-sentabrda qabul qilingan “Xotin-qizlarni tazyiq va zo‘ravonlikdan himoya
                qilish to‘g‘risida»gi O‘RQ-561-sonli <a href="">(https://lex.uz/uz/docs/-4494709)</a> hamda
                “Xotin-qizlar va erkaklar uchun teng huquq hamda imkoniyatlar kafolatlari to‘g‘risida”gi O‘RQ-562-sonli
                <a href="">(https://lex.uz/mact/-4494849)</a> lawsi mamlakatimizda xotin-qizlarning huquqlari himoyasi
                borasida ustuvor yo’nalishlarni belgilab berdi.</li>
            <li>Xotin-qizlar va erkaklar uchun teng huquq hamda imkoniyatlarni taʼminlash sohasidagi davlat boshqaruvi:
            </li>
            <li>1. Oʻzbekiston Respublikasi Vazirlar Mahkamasi;</li>
            <li>2. Oʻzbekiston Respublikasining Senatdagi Gender tenglikni taʼminlash masalalari boʻyicha komissiyasi;
            </li>
            <li>3. Davlat organlarida xotin-qizlar va erkaklar uchun teng huquq hamda imkoniyatlarni taʼminlash
                masalalari boʻyicha vakolatli mansabdor shaxs;</li>
            <li>4. Vakolatli shaxsning majburiyatlarini bajarish davlat organi rahbarining oʻrinbosarlaridan biri
                zimmasiga yuklatiladi.</li>
            <li>Bugun ayollar ilm-fan, sport, madaniyat, tadbirkorlik va siyosat maydonida yuksak yutuqlarga erishmoqda.
                Bu esa O‘zbekistonda yaratilayotgan sharoitlar natijasidir. Shu bilan birga, gender tenglik faqatgina
                ayollar manfaatini emas, balki jamiyatning umumiy rivojlanishini ta’minlaydi. Zero, teng huquqli jamiyat
                – barqaror va adolatli jamiyat demakdir.</li>
        </ul>
    </div>
</section>