<section class="events">
    <a href="../../eventslist.html" class="events-card">
        <img src="../../images/tadbirlar-img.png" alt="">
        <div class="events-card-left">
            <h4>Italiyaning Turin shahrida “Markaziy Osiyoda kasbiy va malaka....</h4>
            <p>Turin shahri bugungi kunda Markaziy Osiyo davlatlari uchun muhim muloqot va hamkorlik maydoniga
                aylangan...</p>
            <div class="events-card-left-top"></div>
            <div class="events-card-left-rait">
                <p><i class="i-calendar"></i>13 Dekabr 2025</p>
                <p><i class="i-eye"></i>234</p>
            </div>
        </div>
    </a>
    <a href="../../eventslist.html" class="events-card">
        <img src="../../images/tadbirlar-img-2.png" alt="">
        <div class="events-card-left">
            <h4>Italiyaning Turin shahrida “Markaziy Osiyoda kasbiy va malaka....</h4>
            <p>Turin shahri bugungi kunda Markaziy Osiyo davlatlari uchun muhim muloqot va hamkorlik maydoniga
                aylangan...</p>
            <div class="events-card-left-top"></div>
            <div class="events-card-left-rait">
                <p><i class="i-calendar"></i>13 Dekabr 2025</p>
                <p><i class="i-eye"></i>234</p>
            </div>
        </div>
    </a>
</section>