<section class="eventslist">
    <div class="eventslist-list">
        <div class="eventslist-list-btn">
            <div class="eventslist-list-btn-link">
                <button><i class="i-calendar"></i>18 dekabr 2025</button>
                <button><i class="i-eye"></i>126</button>
                <button><i class="i-message"></i>4</button>
            </div>
            <div class="eventslist-list-btn-link">
                <button><i class="i-printer"></i>Chop etish</button>
            </div>
        </div>
        <div class="eventslist-list-top"></div>
        <img src="../../images/eventslinst-img.png" alt="">
    </div>
    <div class="eventslist-text">
        <h2>Kasbiy ta’limda samaradorlikka erishishning xalqaro strategiyalari</h2>
        <div class="eventslist-list-top"></div>
        <ul>
            <li>Oliy ta’lim, fan va innovatsiyalar vazirligi, “Ta’lim sohasidagi loyihalar markazi” loyiha ofisi, Turizm
                qo‘mitasi hamda “HELVETAS Swiss Intercooperation” bilan hamkorlikda “O‘zbekistonda kasbiy ta’lim
                islohotlarini qo‘llab-quvvatlash” VET4UZ loyihasi doirasida “Kelajak uchun ko‘nikmalari: kasbiy ta’limda
                samaradorlikka erishish bo‘yicha strategiyalar” mavzusidagi xalqaro anjumani bo‘lib o‘tdi.</li>
            <li>Toshkent shahridagi Hyatt Regency mehmonxonasida o‘tkazilgan ushbu tadbirda davlat boshqaruvi organlari,
                kasbiy ta’lim tashkilotlari va ish beruvchilar vakillari hamda xalqaro ekspertlar ishtirokida kasbiy
                ta’lim boshqaruvi, kasbiy ta’limda sifatni oshirish, dual ta’limda davlat-xususiy sherikchilik va
                pedagoglarning kasbiy salohiyatini oshirish kabi bir qator mavzularda yalpi hamda sho‘balar tashkil
                qilingan holda davlat va xususiy sektor vakillari o‘rtasida muloqotlar tashkil etildi.</li>
            <li>Tadbirning ochilish marosimida bir guruh xalqaro ekspertlar hamda tashkilot rahbarlari qatorida “Ta’lim
                sohasidagi loyihalar markazi” loyiha ofisi direktori A.Xudaykulov ham o‘z fikr-mulohazalarini bildirib,
                kasbiy ta’limning mamlakat iqtisodiyoti uchun muhimligi va tizimda xalqaro tajribalar asosida samarali
                boshqaruvni yo‘lga qo‘yish lozimligi to‘g‘risida bir qator tahlil hamda takliflarni aytgan holda, kasbiy
                ta’lim sohasida strategik islohotlarni muhokama qilishga qaratilgan masalalarga alohida to‘xtilib o‘tdi.
            </li>
            <li>Shuningdek, “Ta’lim sohasidagi loyihalar markazi” loyiha ofisi guruh rahbari N.Ergashev sho‘ba
                yig‘ilishida “Dual ta’lim/kasbiy ta’limda davlat-xususiy sherikchilik tamoyili» bo‘yicha o’z taqdimoti
                bilan ishtirok etdi.</li>
            <li>Tadbirda Milliy malaka tizimini rivojlantirish instituti xodimlari ishtirok etib, kasbiy ta’lim
                dasturlarini ishlab chiqishda ish beruvchilar talablari asosida kasbiy standartlarni yaratish va
                malakalarni baholashga oid masalalarda o‘z fikr-mulohazalarini bildirishdi.</li>
            <li>Anjuman ishtirokchilari tadbir davomida o‘zlarini qiziqtirgan savollariga javob olgan holda, kasbiy
                ta’lim tizimidagi o‘zgarishlar va rejalar to‘g‘risida ma’lumotlarga ega bo‘ldilar.</li>
        </ul>
    </div>
    <div class="events-carusel">

    </div>
</section>