<section class="faq">
    <div class="faq-card">
        <div class="faq-card-image">
            <img src="../../images/faq-img-1.png" alt="">
            <div class="faq-card-image-img">
                <img src="../../images/faq-img-2.png" alt="">
                <img src="../../images/faq-img-3.png" alt="">
            </div>
        </div>
    </div>
    <div class="faq-text">
        <h2>MILLIY MALAKA TIZIMINI RIVOJLANTIRISH INSTITUTI</h2>
        <div class="faq-top"></div>
        <p>Oʻzbekistonda Milliy malaka tizimini rivojlantirish instituti Oʻzbekiston Respublikasi Prezidentining
            2024-yil 30-sentyabrda qabul qilingan <br> “O‘zbekiston Respublikasi milliy malaka tizimini yanada
            takomillashtirish chora-eventsi to‘g‘risida”gi PQ-345-sonli Qaroriga muvofiq tashkil etildi. <br>
            Shuningdek,
            Vazirlar Mahkamasining 2025-yil 17-iyunda qabul qilingan “O‘zbekiston Respublikasi milliy malaka tizimini
            tartibga solishga qaratilgan <br> ayrim normativ-huquqiy hujjatlarni tasdiqlash to‘g‘risida”gi VMQ-369-sonli
            Qaroriga ko‘ra O‘zbekiston Respublikasi Prezidenti Administratsiyasi <br> huzuridagi Ta’lim sifatini
            ta’minlash
            milliy agentligining Milliy malaka tizimini rivojlantirish instituti Respublika kengashining ishchi organi
            hisoblanadi <br> va Milliy malaka tizimini muvofiqlashtiruvchi regulator vazifasini bajaradi.</p>
    </div>
    <div class="faq-text">
        <h2>Asosiy faoliyat yoʻnalishlari va vazifalari</h2>
        <div class="faq-top"></div>
        <ul class="faq-text-list">
            <li>Kasbiy malakalarni rivojlantirish boʻyicha respublika kengashining ishchi organi;</li>
            <li>Respublika kengashi, tarmoq kengashlari va malakalarni baholash markazlari faoliyatini tashkiliy-uslubiy
                jihatdan taʼminlash;</li>
            <li>Tarmoq malaka ramkalari, kasbiy standartlar va baholash vositalarining ishlab chiqilishi boʻyicha umumiy
                nazoratni amalga oshirish, ularni ekspertizadan oʻtkazish va joriy etish boʻyicha faoliyatni
                muvofiqlashtirish;</li>
            <li>Taʼlim dasturlarini tegishli kasbiy standartlar yoki malaka talablariga muvofiqligi boʻyicha xulosalar
                berish;</li>
            <li>Malakalarni baholash markazlarini akkreditatsiyadan oʻtkazish, faoliyatini monitoring qilish, ularning
                reestrini yuritish va zarur hollarda ularga uslubiy yordam koʻrsatish;</li>
            <li>Milliy malaka tizimining yagona raqamli platformasini joriy etish, texnik jihatdan qoʻllab-quvvatlash,
                boshqa axborot tizimlari bilan integratsiya qilish, shuningdek, Milliy malaka tizimi masalalari boʻyicha
                maʼlumotlarni kiritish, tahlil qilish va qayta ishlashni amalga oshirish;</li>
            <li>Milliy malaka tizimini rivojlantirish, takomillashtirish boʻyicha taklif va tavsiyalar ishlab chiqish
                hamda bu borada metodologik xizmatlar koʻrsatish;</li>
            <li>Tarmoq kengashlari aʼzolari va malakalarni baholash markazlari xodimlarining malakasini oshirish;</li>
            <li>Tasdiqlangan malakaga ega shaxslar milliy reestrini hamda kasbiy standartlar reestrini shakllantirish va
                yuritish;</li>
            <li>Vazirlik va idoralardagi kasbiy malakalarni rivojlantirishga masʼul boʻlgan mutaxassislar faoliyatini
                muvofiqlashtirish hamda ularga amaliy yordam berish;</li>
            <li>Milliy malaka tizimini rivojlantirish sohasidagi normativ-huquqiy hujjatlar loyihalarini ishlab chiqish;
            </li>
            <li>Milliy malaka tizimini rivojlantirish sohasidagi istiqbolli loyihalarni amalga oshirish jarayonlarida
                ishtirok etish;</li>
            <li>Milliy malaka tizimini muvofiqlashtiruvchi regulyator vazifasini bajarish.</li>
        </ul>
    </div>

    <div class="faq-text">
        <h2>Faoliyat asoslari</h2>
        <div class="faq-text-card">
            <a href="#" class="faq-text-card-card1">
                <img src="../../images/goya.svg" alt="icon">
                <div class="line-blue"></div>
                <b>Innovatsiya</b>
                <p>Yangicha yondashuvlar va zamonaviy texnologiyalardan foydalanish.</p>
            </a>

            <a href="#" class="faq-text-card-card1">
                <img src="../../images/globus.svg" alt="icon">
                <div class="line-blue"></div>
                <b>Shaffoflik</b>
                <p>Barcha jarayonlarda ochiqlik hamda adolatli yondashuv.</p>
            </a>

            <a href="#" class="faq-text-card-card1">
                <img src="../../images/kelishu.svg" alt="icon">
                <div class="line-blue"></div>
                <b>Xalqaro hamkorlik</b>
                <p>Dunyo tajribasini milliy amaliyotga joriy etish.</p>
            </a>

            <a href="#" class="faq-text-card-card1">
                <img src="../../images/stratega.svg" alt="icon">
                <div class="line-blue"></div>
                <b>Salohiyatni oshirish</b>
                <p>Kasbiy rivojlanishni taʼminlash.</p>
            </a>

            <a href="#" class="faq-text-card-card1">
                <img src="../../images/birgalikda.svg" alt="icon">
                <div class="line-blue"></div>
                <b>Jamoaviy ish</b>
                <p>Birgalikda natijaga erishish.</p>
            </a>
        </div>
    </div>

    <div class="faq-text">
        <h2>Strategik maqsad</h2>
        <div class="faq-top"></div>
        <ul class="faq-text-list">
            <li>Milliy malaka tizimining normativ-huquqiy, institutsional va uslubiy asoslarini takomillashtirish;</li>
            <li>Mashgʻulotlar, kasb va lavozimlar milliy klassifikatorini xalqaro standartlarga moslashtirib borish;
            </li>
            <li>Malaka ramkalari, kasbiy standartlar va malaka talablarini ish beruvchilar talablari asosida ishlab
                chiqish, joriy qilish hamda rivojlantirish;</li>
            <li>Yangi avlod kasbiy standartlar asosida mehnat munosabatlarini tartibga solish, oliy va kasbiy taʼlim
                dasturlarini takomillashtirish hamda kadrlar tayyorlash tizimini sifat jihatidan yangi bosqichga olib
                chiqish;</li>
            <li>Malakalarning xalqaro miqyosda tan olinishini, milliy malaka darajalarining ilgʻor xorijiy davlatlar
                malaka darajalari bilan integratsiya qilinishini taʼminlash;</li>
            <li>Norasmiy va informal orttirilgan koʻnikma va malakalarni tan olish (“Recognition of Prior Learning”)
                tizimini joriy qilish;</li>
            <li>Koʻnikmalarni prognozlashtirish, koʻnikmalarga boʻlgan ehtiyojlarni tahlil qilish, koʻnikmalar bilan
                bogʻliq muammolarni oʻrganish vositalari va metodologiyalarini ishlab chiqish hamda joriy etish;</li>
            <li>Milliy malaka tizimini toʻlaqonli yoʻlga qoʻyish boʻyicha strategik rejalar ishlab chiqish hamda xususiy
                sektor ishtirokini kengaytirish;</li>
            <li>Milliy malaka tizimini rivojlantirish jarayonlarini monitoring qilish, jamoatchilik fikrini oʻrganish va
                axborot almashinuvini samarali yoʻlga qoʻyish.</li>
        </ul>
    </div>
</section>