<section class="forgive">
    <a href="../../ticher.html" class="forgive-card">
        <h3>Ta’lim menejmenti kafedrasi <br> katta o'qituvchisi.</h3>
        <div class="forgive-card-top"></div>
        <p><img src="../../images/mani.svg" alt="">8 mln so’m</p>
        <p><img src="../../images/calendar.svg" alt="">Dushanba-Juma, 9:00–18:00</p>
        <p><img src="../../images/phone.svg" alt="">+998 (71) 207-00-47</p>
        <p><img src="../../images/lacatsiya.svg" alt="">Toshkent shahri, Olmazor tumani, Talabalar ko‘chasi, 12-uy.</p>
        <div class="forgive-card-left">
            <b><i class="i-calendar"></i>13 Dekabr 2025</b>
            <b><i class="i-eye"></i>234</b>
        </div>
    </a>

    <a href="ticher.html" class="forgive-card">
        <h3>Ta’lim menejmenti kafedrasi <br> katta o'qituvchisi.</h3>
        <div class="forgive-card-top"></div>
        <p><img src="../../images/mani.svg" alt="">8 mln so’m</p>
        <p><img src="../../images/calendar.svg" alt="">Dushanba-Juma, 9:00–18:00</p>
        <p><img src="../../images/phone.svg" alt="">+998 (71) 207-00-47</p>
        <p><img src="../../images/lacatsiya.svg" alt="">Toshkent shahri, Olmazor tumani, Talabalar ko‘chasi, 12-uy.</p>
        <div class="forgive-card-left">
            <b><i class="i-calendar"></i>13 Dekabr 2025</b>
            <b><i class="i-eye"></i>234</b>
        </div>
    </a>

    <a href="ticher.html" class="forgive-card">
        <h3>Ta’lim menejmenti kafedrasi <br> katta o'qituvchisi.</h3>
        <div class="forgive-card-top"></div>
        <p><img src="../../images/mani.svg" alt="">8 mln so’m</p>
        <p><img src="../../images/calendar.svg" alt="">Dushanba-Juma, 9:00–18:00</p>
        <p><img src="../../images/phone.svg" alt="">+998 (71) 207-00-47</p>
        <p><img src="../../images/lacatsiya.svg" alt="">Toshkent shahri, Olmazor tumani, Talabalar ko‘chasi, 12-uy.</p>
        <div class="forgive-card-left">
            <b><i class="i-calendar"></i>13 Dekabr 2025</b>
            <b><i class="i-eye"></i>234</b>
        </div>
    </a>

    <a href="ticher.html" class="forgive-card">
        <h3>Ta’lim menejmenti kafedrasi <br> katta o'qituvchisi.</h3>
        <div class="forgive-card-top"></div>
        <p><img src="../../images/mani.svg" alt="">8 mln so’m</p>
        <p><img src="../../images/calendar.svg" alt="">Dushanba-Juma, 9:00–18:00</p>
        <p><img src="../../images/phone.svg" alt="">+998 (71) 207-00-47</p>
        <p><img src="../../images/lacatsiya.svg" alt="">Toshkent shahri, Olmazor tumani, Talabalar ko‘chasi, 12-uy.</p>
        <div class="forgive-card-left">
            <b><i class="i-calendar"></i>13 Dekabr 2025</b>
            <b><i class="i-eye"></i>234</b>
        </div>
    </a>

    <a href="ticher.html" class="forgive-card">
        <h3>Ta’lim menejmenti kafedrasi <br> katta o'qituvchisi.</h3>
        <div class="forgive-card-top"></div>
        <p><img src="../../images/mani.svg" alt="">8 mln so’m</p>
        <p><img src="../../images/calendar.svg" alt="">Dushanba-Juma, 9:00–18:00</p>
        <p><img src="../../images/phone.svg" alt="">+998 (71) 207-00-47</p>
        <p><img src="../../images/lacatsiya.svg" alt="">Toshkent shahri, Olmazor tumani, Talabalar ko‘chasi, 12-uy.</p>
        <div class="forgive-card-left">
            <b><i class="i-calendar"></i>13 Dekabr 2025</b>
            <b><i class="i-eye"></i>234</b>
        </div>
    </a>

    <a href="ticher.html" class="forgive-card">
        <h3>Ta’lim menejmenti kafedrasi <br> katta o'qituvchisi.</h3>
        <div class="forgive-card-top"></div>
        <p><img src="../../images/mani.svg" alt="">8 mln so’m</p>
        <p><img src="../../images/calendar.svg" alt="">Dushanba-Juma, 9:00–18:00</p>
        <p><img src="../../images/phone.svg" alt="">+998 (71) 207-00-47</p>
        <p><img src="../../images/lacatsiya.svg" alt="">Toshkent shahri, Olmazor tumani, Talabalar ko‘chasi, 12-uy.</p>
        <div class="forgive-card-left">
            <b><i class="i-calendar"></i>13 Dekabr 2025</b>
            <b><i class="i-eye"></i>234</b>
        </div>
    </a>
</section>