<section class="laws">
    <div class="laws-row laws-header">
        <h3>Nomi</h3>
        <h3>Sanasi va raqami</h3>
        <h3 class="text-right">Yuklab olish</h3>
    </div>

    <div class="top"></div>

    <div class="laws-row">
        <p>Ta’lim to’g’risida</p>
        <p>23.09.2020 y. O‘RQ-637-son</p>
        <div class="btn-wrapper">
            <button><i class="i-download "></i>Yuklab olish</button>
        </div>
    </div>
    <div class="top"></div>

    <div class="laws-row">
        <p>Davlat xaridlari to‘g‘risida</p>
        <p>22.04.2021 y. O‘RQ-684-son</p>
        <div class="btn-wrapper">
            <button><i class="i-download "></i>Yuklab olish</button>
        </div>
    </div>
    <div class="top"></div>

    <div class="laws-row">
        <p>Manfaatlar to‘qnashuvi to‘g‘risida</p>
        <p>05.06.2024 y. O‘RQ-931-son</p>
        <div class="btn-wrapper">
            <button><i class="i-download "></i>Yuklab olish</button>
        </div>
    </div>
    <div class="top"></div>

    <div class="laws-row">
        <p>Aholi bandligi to’g’risida</p>
        <p>20.10.2020 y. O‘RQ-642-son</p>
        <div class="btn-wrapper">
            <button><i class="i-download "></i>Yuklab olish</button>
        </div>
    </div>
</section>