<div class="leadership-view">
    <div class="leadership-view__img">
        <img src="@/images/bakhtiyor-yoldoshev.jpg" alt="leadership">
    </div>
    <div class="leadership-view__info">
        <div class="card">
            <h3 class="leadership-view__name">Bakhtiyor Yuldashev Gayradjonovich</h3>
            <p class="leadership-view__position">
                O‘zbekiston Respublikasi Prezidenti Administratsiyasi huzuridagi Ta’lim sifatini
                ta’minlash milliy agentligi direktori
            </p>
            <div class="leadership-view__contacts">
                <a href="" class="leadership-view__link">
                    <i class="i-email"></i>
                    b.yuldashev@nqaae.uz
                </a>
                <a href="" class="leadership-view__link">
                    <i class="i-phone"></i>
                    +998 55 516 01 39
                </a>
                <a href="" class="leadership-view__link">
                    <i class="i-calendar-clock"></i>
                    Monday, 09:00-18:00
                </a>
            </div>
            <button class="button">Murojaat yuborish</button>
        </div>
        <div class="card">
            <h3 class="card__title">
                Vazifalari
            </h3>
            <div class="card__content">
                <p>Komissiya ishini boshqarish, yig‘ilishlarni tashkil etish, qarorlar qabul qilish.</p>
            </div>
        </div>
        <div class="card">
            <h3 class="card__title">
                Biografiya
            </h3>
            <ul class="card__content">
                <li>
                    2019 - 2019 — Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum
                    eligendi esse, eveniet ex id quam quis! Autem corporis doloribus incidunt.
                </li>
                <li>
                    2019 - 2020 — Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Accusantium assumenda deleniti dicta doloribus eligendi illo illum in iste
                    maiores nisi pariatur quasi quia quos, sequi similique sint sit sunt veritatis?
                </li>
                <li>
                    2020 - 2022 — Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut,
                    autem consequuntur, dicta distinctio ducimus explicabo, in iusto labore odio
                    provident quidem quo unde veniam voluptatum?

                </li>
            </ul>
        </div>
    </div>
</div>