<div class="leadership-departments">
    <div class="leadership-departments__item">
        <div class="img">
            <img src="@/images/placeholder.png" alt="">
        </div>
        <div class="content">
            <h3 class="name">Department Name1</h3>
            <p class="position">Brief description of the department goes here. It provides an overview of the
                department's
                functions and responsibilities.</p>

            <div class="contacts">
                <a href="leadership-view.html" class="contacts-item"><i class="i-phone"></i>+9989989895455</a>
                <a href="leadership-view.html" class="contacts-item"><i class="i-email"></i>falonchiev@falonchi.uz</a>
                <a href="leadership-view.html" class="contacts-item">Batafsil<i class="i-angle-right"></i></a>
            </div>
        </div>
    </div>
</div>