<section class="common">
    <div class="common-text">
        <h2>Milliy malaka tizimini rivojlantirish instituti xodimlarining odob-axloq qoidalari</h2>
        <div class="top"></div>
        <div class="common-text-list">
            <p><strong>I. Umumiy qoidalar</strong></p>
            <p>1. Taʼlim sifatini taʼminlash milliy agentligining Milliy malaka tizimini rivojlantirish instituti xodimlarining odob-axloq qoidalari (keyingi oʻrinlarda “Qoidalar” deb yuritiladi) xodimlarning egallab turgan lavozimidan qatʼiy nazar kasbiy madaniyati, xizmat faoliyati davomida hamda xizmatdan tashqari vaqtda odob-axloqi, tashqi koʻrinishi va kiyinish uslubining asosiy qoidalari yigʻindisidan iborat.</p>
            <p>2. Qoidalar davlat xizmatida yuksak kasbiy madaniyatni shakllantirish, jamoatchilik ongida davlat xizmatiga boʻlgan hurmat va ishonchni oshirish hamda davlat xizmatchilarining axloq qoidalariga zid boʻlgan xatti-harakatlarining oldini olishga qaratilgan.</p>
            <p>3. Xodimning Qoidalarga amal qilish majburiyati Taʼlim sifatini taʼminlash milliy agentligining Milliy malaka tizimini rivojlantirish institutiga ishga qabul qilingan kundan boshlab kelib chiqadi.</p>
            <p>Ishga kirayotgan shaxslar Qoidalar bilan imzo qoʻydirgan holda tanishtiriladilar.</p>
            <p>1. Xodimlar barcha qonunchilik hujjatlari va Qoidalar talablariga rioya etishlari shart. Qoidalarga rioya etish xodimlarning kasbiy foliyatini va xizmatdagi xulq-atvorini baholash mezonlaridan biri hisoblanadi.</p>
            <p>Qoidalarga rioya qilinishi holati ularni kelgusida yuqori lavozimlarga tayinlash va rahbar kadrlar zaxirasini shakllantirishda hisobga olinadi.</p>
        </div>
        <div class="common-text-list">
            <p><strong>II.Xodimlarning xizmatdagi xulq-atvorining asosiy prinsiplari va qoidalari</strong></p>
            <ul>
                <li>Xodimlar oʻz kasbiy faoliyatini quyidagi prinsiplar asosida amalga oshirishlari kerak:</li>
                <li>vatanga sadoqat va xizmat vazifasiga fidoyilik, yuklangan funksional vazifalarini toʻliq bajarish,
                    ijro intizomiga qatʼiy rioya etish;</li>
                <li>fuqarolar huquqlari, erkinliklari va qonuniy manfaatlarining ustuvorligi;</li>
                <li>davlat va jamiyat manfaatlariga sodiqlik;</li>
                <li>adolatlilik, halollik va xolislik;</li>
                <li>korrupsiyaviy holatlarga murosasiz munosabatda boʻlish va qarshi kurashish;</li>
                <li>xizmat sirini qatʼiy saqlash;</li>
                <li>mansab vakolatlarini suiisteʼmol qilmaslik;</li>
                <li>manfaatlar toʻqnashuviga yoʻl qoʻymaslik.</li>
                <li>Xodimlar mehnat faoliyati davomida va ishdan tashqari vaqtda xulqatvorning quyidagi umumiy
                    qoidalariga amal qilishi lozim:</li>
                <li>davlat xizmatining obroʻsiga putur yetkazishi mumkin boʻlgan xattiharakatlardan tiyilish, axloq
                    normalariga doimiy rioya qilish;</li>
                <li>masʼuliyat, kasbiga sadoqat va halollikni kundalik shiorga aylantirish;</li>
                <li>murakkab vazifalarni bajarishda hamkasblariga koʻmaklashish;</li>
                <li>xushmuomalalik, eʼtiborlilik va hushyorlik bilan fuqarolarda davlatga nisbatan ishonch va hurmat
                    hissini uygʻotish;</li>
                <li>oilasida sogʻlom muhitni taʼminlab, oila aʼzolariga doimiy gʻamxoʻr boʻlish, farzandlarida
                    vatanparvarlik va boshqa yuksak axloqiy fazilatlarni shakllantirish;</li>
                <li>fuqarolarning ijtimoiy kelib chiqishi, iqtisodiy ahvoli va boshqa omillardan qatʼi nazar, ular bilan
                    bir xil, samimiy, odob doirasida munosabatda boʻlish;</li>
                <li>jamiyatda axloqning umumeʼtirof etilgan qoidalariga amal qilish.</li>
            </ul>
        </div>
    </div>
</section>