<section class="publications">
    <a href="../../listpage.html" class="publications-card">
        <img src="../../images/prints-img-1.png" alt="">
        <div class="publications-card-text">
            <h3>Italiyaning Turin shahrida “Markaziy Osiyoda kasbiy va malaka....</h3>
            <p>Turin shahri bugungi kunda Markaziy Osiyo davlatlari uchun muhim muloqot va hamkorlik maydoniga
                aylangan...</p>
            <div class="publications-top"></div>
            <div class="publications-card-text-link">
                <p><i class="i-calendar"></i>13 Dekabr 2025</p>
                <p><i class="i-eye"></i>234</p>
            </div>
        </div>
    </a>

    <a href="../../listpage.html" class="publications-card">
        <img src="../../images/prints-img-2.png" alt="">
        <div class="publications-card-text">
            <h3>Italiyaning Turin shahrida “Markaziy Osiyoda kasbiy va malaka....</h3>
            <p>Turin shahri bugungi kunda Markaziy Osiyo davlatlari uchun muhim muloqot va hamkorlik maydoniga
                aylangan...</p>
            <div class="publications-top"></div>
            <div class="publications-card-text-link">
                <p><i class="i-calendar"></i>13 Dekabr 2025</p>
                <p><i class="i-eye"></i>234</p>
            </div>
        </div>
    </a>

    <a href="../../listpage.html" class="publications-card">
        <img src="../../images/prints-img-3.png" alt="">
        <div class="publications-card-text">
            <h3>Italiyaning Turin shahrida “Markaziy Osiyoda kasbiy va malaka....</h3>
            <p>Turin shahri bugungi kunda Markaziy Osiyo davlatlari uchun muhim muloqot va hamkorlik maydoniga
                aylangan...</p>
            <div class="publications-top"></div>
            <div class="publications-card-text-link">
                <p><i class="i-calendar"></i>13 Dekabr 2025</p>
                <p><i class="i-eye"></i>234</p>
            </div>
        </div>
    </a>

    <a href="../../listpage.html" class="publications-card">
        <img src="../../images/prints-img-4.png" alt="">
        <div class="publications-card-text">
            <h3>Italiyaning Turin shahrida “Markaziy Osiyoda kasbiy va malaka....</h3>
            <p>Turin shahri bugungi kunda Markaziy Osiyo davlatlari uchun muhim muloqot va hamkorlik maydoniga
                aylangan...</p>
            <div class="publications-top"></div>
            <div class="publications-card-text-link">
                <p><i class="i-calendar"></i>13 Dekabr 2025</p>
                <p><i class="i-eye"></i>234</p>
            </div>
        </div>
    </a>

    <a href="../../listpage.html" class="publications-card">
        <img src="../../images/prints-img-5.png" alt="">
        <div class="publications-card-text">
            <h3>Italiyaning Turin shahrida “Markaziy Osiyoda kasbiy va malaka....</h3>
            <p>Turin shahri bugungi kunda Markaziy Osiyo davlatlari uchun muhim muloqot va hamkorlik maydoniga
                aylangan...</p>
            <div class="publications-top"></div>
            <div class="publications-card-text-link">
                <p><i class="i-calendar"></i>13 Dekabr 2025</p>
                <p><i class="i-eye"></i>234</p>
            </div>
        </div>
    </a>

    <a href="../../listpage.html" class="publications-card">
        <img src="../../images/prints-img-6.png" alt="">
        <div class="publications-card-text">
            <h3>Italiyaning Turin shahrida “Markaziy Osiyoda kasbiy va malaka....</h3>
            <p>Turin shahri bugungi kunda Markaziy Osiyo davlatlari uchun muhim muloqot va hamkorlik maydoniga
                aylangan...</p>
            <div class="publications-top"></div>
            <div class="publications-card-text-link">
                <p><i class="i-calendar"></i>13 Dekabr 2025</p>
                <p><i class="i-eye"></i>234</p>
            </div>
        </div>
    </a>
</section>