<section class="publications-page">
    <h2>Tarmoq malaka ramkasini ishlab chiqish va yangilash metodologiyasi</h2>
    <div class="publications-page-top"></div>
    <div class="publications-page-btn">
        <div class="publications-page-btn-list">
            <button><i class="i-calendar"></i>18 dekabr 2025</button>
            <button ><i class="i-eye"></i>126</button>
            <button><i class="i-message"></i>4</button>
        </div>
        <div class="publications-page-btn-link">
            <button><i class="i-printer"></i>Chop etish</button>
            <button><i class="i-download"></i>Yuklab olish</button>
        </div>
    </div>
    <img src="../../images/nashirlar.png" alt="">
</section>