<section class="services">
    <div class="services-card pink">
        <img src="../../images/helpful-img-1.svg" alt="">
        <div>
            <h2>Akkreditatsiyadan o’tkazish</h2>
            <p>Malakani baholash markazlarini <br> akkreditatsiyadan o‘tkazish bo‘yicha <br> davlat xizmati.</p>
        </div>
    </div>

    <div class="services-card blue">
        <img src="../../images/helpful-img-2.svg" alt="">
        <div>
            <h2>Malaka oshirish kurslari</h2>
            <p>Tarmoq kengashlariga, Ekspertlarga, <br> Malakani baholash markazlariga <br> shartnoma asosida institut
                tomonidan.</p>
        </div>
    </div>

    <div class="services-card cyan">
        <img src="../../images/helpful-img-3.svg" alt="">
        <div>
            <h2>Hujjatlar ekpertizasi</h2>
            <p>Tarmoq malaka ramkalari, kasbiy <br> standartlar va baholash vositalari <br> ekspertizadan o’tkaziladi. .
            </p>
        </div>
    </div>
</section>