<section class="manners">
  <div class="manners-text">
    <h2>Milliy malaka tizimi “MMT”</h2>
    <div class="top"></div>
    <div class="manners-text-list">
      <ul>
        <li>Oʻzbekistonda Milliy malaka tizimi Oʻzbekiston Respublikasi Prezidentining 2024-yil 30-sentyabrdagi
          PQ-345-son va Vazirlar Mahkamasining 2025-yil 17-iyundagi VMQ-369-son qarorlariga muvofiq joriy etilgan.</li>
        <li>Milliy malaka tizimi — bu Oʻzbekiston Respublikasida mehnat bozori va taʼlim tizimi oʻrtasidagi uzviy
          bogʻliqlikni taʼminlovchi, yagona milliy mexanizm hisoblanadi. U aholining iqtisodiy faol qatlamining kasbiy
          malaka va kompetensiyalarini taqdim etish, baholash va tan olish jarayonlarini ochiq, shaffof hamda xalqaro
          andozalarga muvofiq tartibga solishga xizmat qiladi.</li>
        <li>Milliy malaka ramkasi esa mazkur tizimning asosiy tarkibiy qismi sifatida ishchi kuchining bilim va
          koʻnikmalarini baholash hamda tizimlashtirishning aniq mezonlarini belgilaydi. Malaka ramkasi  8 ta
          darajadan iborat boʻlib, har bir daraja mos ravishdagi bilim, amaliy koʻnikmalar, masʼuliyat va mustaqillik
          doirasini aniqlab beradi.</li>
        <li>Milliy malaka tizimi mamlakatda inson kapitalini rivojlantirish, uni sifatini oshirish, kasbiy standartlar
          asosida oʻquv dasturlarini yangilash va mehnat bozoridagi real talablarga mos kadrlar tayyorlashga qaratilgan.
          Natijada tizim barcha manfaatdor tomonlar — taʼlim muassasalari, ish beruvchilar va shaxslar uchun umumiy
          malaka standartlari va tushunchalari maydonini yaratadi hamda milliy kvalifikatsiyalarning xalqaro darajada
          tan olinishiga zamin yaratadi.</li>
        <li>Milliy malaka tizimini rivojlantirish instituti mazkur tizimning tashkiliy-metodik jihatdan taʼminlab,
          regulyator sifatida faoliyat yuritadi. Uning asosiy vazifalariga kasbiy standartlarni ishlab chiqish, malaka
          ramkalari va baholash instrumentlarini tayyorlash, noformal va informal taʼlim natijalarini validatsiya qilish
          (RPL) jarayonlarini muvofiqlashtirish, malakani baholash markazlarini akkreditatsiyadan oʻtkazish, tizimni
          raqamlashtirish hamda takomillashtirib borish kiradi.</li>
        <h3>Milliy malakalar ramkasi</h3>
        <li>Oʻzbekiston Respublikasining milliy malakalar ramkasi – mehnat bozori hamda taʼlim tizimini bogʻlovchi
          vosita boʻlib, malaka darajalarining umumlashtirilgan tavsifi va ularga Oʻzbekiston Respublikasi hududida
          erishishning asosiy yoʻllarini belgilaydi.
          Milliy malakalar ramkasi Oʻzbekiston Respublikasi milliy malaka tizimining tarkibiy qismi boʻlib, oʻqitish
          natijalarini milliy baholash tizimini ishlab chiqish uchun asos hisoblanadi.
          Milliy malakalar ramkasi tarmoq malaka ramkalarini, kasbiy standartlar va taʼlim dasturlarini hamda milliy va
          xalqaro darajadagi taʼlimning barcha darajalari uchun malakalarga erishish va tan olish mexanizmlarini ishlab
          chiqish uchun asos boʻlib xizmat qiladi.</li>
      </ul>
    </div>
  </div>
</section>