<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-wrapper">
            <h1 class="breadcrumbs__title">
                Biz haqimizda
            </h1>
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__list--item">
                    <a href="#" class="breadcrumbs__link">
                        Asosiy
                    </a>
                </li>
                <li class="breadcrumbs__list--item">
                    <i class="i-dropdown"></i>
                </li>
                <li class="breadcrumbs__list--item">
                    <a href="#" class="breadcrumbs__link">
                        Biz Haqimizda 
                    </a>
                </li>
            </ul>
            
        </div>
    </div>
</div>