<footer class="footer">
  <div class="container footer__container">

    <div class="footer__info">
      <a href="tel:+998555165453" class="footer__info-item">
        <i class="i-phone footer__info-icon"></i>
        <div class="footer__info-text">
          <b class="footer__info-label">Telefon raqam</b>
          <p class="footer__info-value">+998 (55) 516 54 53</p>
        </div>
      </a>

      <a href="mailto:info@mmtri.uz" class="footer__info-item">
        <i class="i-maile footer__info-icon"></i>
        <div class="footer__info-text">
          <b class="footer__info-label">Elektron pochta</b>
          <p class="footer__info-value">info@mmtri.uz</p>
        </div>
      </a>

      <a href="#" class="footer__info-item">
        <i class="i-location footer__info-icon"></i>
        <div class="footer__info-text">
          <b class="footer__info-label">Manzil</b>
          <p class="footer__info-value">Olmazor tumani, Talabalar ko’chasi 12-uy</p>
        </div>
      </a>

      <div class="footer__info-item footer__info-item--static">
        <i class="i-calendar footer__info-icon"></i>
        <div class="footer__info-text">
          <b class="footer__info-label">Ish vaqti</b>
          <p class="footer__info-value">Dush - Jum 09:00 - 18:00</p>
        </div>
      </div>
    </div>

    <div class="footer__main">
      <div class="footer__brand">
        <a href="#" class="footer__brand-link">
          <img class="footer__brand-logo" src="../../images/logo.svg" alt="Logo" />
          <p class="footer__brand-name">
            Milliy malaka <br />
            tizimini rivojlantirish <br />
            instituti
          </p>
        </a>

        <h3 class="footer__heading">Ijtimoiy tarmoqlar</h3>

        <div class="footer__social">
          <a href="#" class="footer__social-link"><i class="i-instagram"></i> Instagram</a>
          <a href="#" class="footer__social-link"><i class="i-telegram"></i> Telegram</a>
          <a href="#" class="footer__social-link"><i class="i-facebook"></i> Facebook</a>
          <a href="#" class="footer__social-link"><i class="i-youtube"></i> YouTube</a>
        </div>
      </div>

      <!-- Columns -->
      <div class="footer__col">
        <h3 class="footer__heading">Xizmatlar</h3>
        <a href="#" class="footer__link">Akkreditatsiyadan o’tkazish</a>
        <a href="#" class="footer__link">Malaka oshirish kurslari</a>
        <a href="#" class="footer__link">Hujjatlar expertizasi</a>
      </div>

      <div class="footer__col">
        <h3 class="footer__heading">Biz Haqimizda</h3>
        <a href="#" class="footer__link">Biz haqimizda</a>
        <a href="#" class="footer__link">Ichki hujjatlar</a>
        <a href="#" class="footer__link">Nashrlar</a>
        <a href="#" class="footer__link">Xalqaro hamkorlik</a>
        <a href="#" class="footer__link">Koruppsiyaga qarshi kurashish</a>
      </div>

      <div class="footer__col">
        <h3 class="footer__heading">Events</h3>
        <a href="#" class="footer__link">Konferensiyalar</a>
        <a href="#" class="footer__link">Seminar - Treninglar</a>
        <a href="#" class="footer__link">Uchrashuvlar</a>
      </div>

      <div class="footer__col">
        <h3 class="footer__heading">Axborot xizmati</h3>
        <a href="#" class="footer__link">Yangiliklar</a>
        <a href="#" class="footer__link">E’lonlar</a>
        <a href="#" class="footer__link">Ochiq ma’lumotlar</a>
        <a href="#" class="footer__link">Media</a>
      </div>
    </div>

    <div class="footer__divider"></div>

    <!-- Bottom -->
    <div class="footer__bottom">
      <p class="footer__copyright">
        © 2026 Milliy malaka tizimini rivojlantirish instituti. Barcha huquqlar himoyalangan.
      </p>

      <a href="#" class="footer__developer">
        <span>Developed by:</span>
        <img src="../images/proend.svg" alt="Proend" />
      </a>
    </div>

  </div>
</footer>

<script src="@/assets/libs/jquery.min.js"></script>
<script src="@/assets/libs/bootstrap/bootstrap.bundle.min.js"></script>
<script src="@/assets/libs/owl-carousel/owl.carousel.min.js"></script>
<script src="@/assets/js/main.js"></script>

<script>
    $(function () {
        $('.ovul').owlCarousel({
            items: 5,
            center: true,
            loop: true,
            margin: 20,
            nav: false,
            dots: false,
            autoplay: true,
            autoplayTimeout: 4000,
            smartSpeed: 800,

            responsive: {
                0: {
                    items: 1,
                    center: false
                    
                },
                576: {
                    items: 3,
                    center: true
                },
                992: {
                    items: 4,
                    center: true

                }
            }
        });
    });
</script>