<section class="about">
    <div class="container">
        <h2 class="about-text">Biz Haqimizda</h2>
        <div class="about-main">
            <div class="about-main-image">
                <img src="../../images/about-img-1.png" alt="" class="large-image">
                <img src="../../images/about-img-2.png" alt="" class="small-image">
                <img src="../../images/about-img-3.png" alt="" class="small-image">
            </div>
            <div class="about-main-vertical">
                <h3>Milliy malaka tizimini rivojlantirish instituti</h3>
                <p class="about-main-vertical-p">Institut – O‘zbekiston Respublikasi Prezidentining 2024-yil
                    30-sentabrda qabul qilingan “O‘zbekiston Respublikasi milliy malaka tizimini yanada
                    takomillashtirish chora-eventsi to‘g‘risida”gi PQ-345-sonli Qarori asosida tashkil etilgan.</p>
                <a href="../../faq.html"><button>Batafsil <i class="i-next"></i></button></a>
                <div class="about-main-vertical-horizantal">
                    <div class="about-main-vertical-horizantal-qoshimcha">
                        <div class="about-main-vertical-horizantal-qoshimcha-rait">
                            <img src="../../images/list.svg" alt="" class="img1">
                            <p>Faoliyat yo'nalishlari va vazifalar</p>
                        </div>
                        <i class="i-arrow-right"></i>
                    </div>
                    <div class="about-main-vertical-horizantal-qoshimcha">
                        <div class="about-main-vertical-horizantal-qoshimcha-rait">
                            <img src="../../images/handshake.svg" alt="" class="img2">
                            <p>Faoliyat yo'nalishlari va vazifalar</p>
                        </div>
                        <i class="i-arrow-right"></i>
                    </div>
                    <div class="about-main-vertical-horizantal-qoshimcha">
                        <div class="about-main-vertical-horizantal-qoshimcha-rait">
                            <img src="../../images/file.svg" alt="" class="img3">
                            <p>Faoliyat yo'nalishlari va vazifalar</p>
                        </div>
                        <i class="i-arrow-right"></i>
                    </div>
                    <div class="about-main-vertical-horizantal-qoshimcha">
                        <div class="about-main-vertical-horizantal-qoshimcha-rait">
                            <img src="../../images/money.svg" alt="" class="img4">
                            <p>Faoliyat yo'nalishlari va vazifalar</p>
                        </div>
                        <i class="i-arrow-right"></i>
                    </div>
                    <div class="about-main-vertical-horizantal-qoshimcha">
                        <div class="about-main-vertical-horizantal-qoshimcha-rait">
                            <img src="../../images/users.svg" alt="" class="img5">
                            <p>Faoliyat yo'nalishlari va vazifalar</p>
                        </div>
                        <i class="i-arrow-right"></i>
                    </div>
                    <div class="about-main-vertical-horizantal-qoshimcha">
                        <div class="about-main-vertical-horizantal-qoshimcha-rait">
                            <img src="../../images/globe.svg" alt="" class="img6">
                            <p>Faoliyat yo'nalishlari va vazifalar</p>
                        </div>
                        <i class="i-arrow-right"></i>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>