<section class="courses">
  <div class="container courses__container">
    <!-- Header row -->
    <div class="courses__header">
      <h2 class="courses__title">Malaka oshirish kurslari</h2>
      <button class="courses__btn" type="button">
        Batafsil <i class="i-next"></i>
      </button>
    </div>

    <!-- Cards -->
    <div class="courses__grid">
      <a href="#" class="courses__card">
        <div class="courses__card-header">
          <div class="courses__card-icon">
            <img src="../../images/course-img-1.svg" alt="" />
          </div>
          <p class="courses__card-name">Talabgorlarga</p>
        </div>

        <div class="courses__card-divider"></div>

        <p class="courses__card-desc">
          Platforma orqali malakani baholash markazlari, malaka sertifikatlari, mashg'ulotlar,
        </p>
      </a>

      <a href="#" class="courses__card">
        <div class="courses__card-header">
          <div class="courses__card-icon">
            <img src="../../images/course-img-2.svg" alt="" />
          </div>
          <p class="courses__card-name">Malakani baholash <br /> markazlariga</p>
        </div>

        <div class="courses__card-divider"></div>

        <p class="courses__card-desc">
          O'z faoliyatini yo'lga qo'yishda zarur ma'lumotlarni olish, Xizmatlardan foydalanish,
        </p>
      </a>

      <a href="#" class="courses__card">
        <div class="courses__card-header">
          <div class="courses__card-icon">
            <img src="../../images/course-img-3.svg" alt="" />
          </div>
          <p class="courses__card-name">Ish beruvchilarga</p>
        </div>

        <div class="courses__card-divider"></div>

        <p class="courses__card-desc">
          Malaka sertifikatiga ega shaxslar reestri bilan tanishish va zarur mutaxassislarni tanlab olish ...
        </p>
      </a>

      <a href="#" class="courses__card">
        <div class="courses__card-header">
          <div class="courses__card-icon">
            <img src="../../images/course-img-4.svg" alt="" />
          </div>
          <p class="courses__card-name">Ekspertlarga</p>
        </div>

        <div class="courses__card-divider"></div>

        <p class="courses__card-desc">
          Malaka oshirish kurslari, ekspert sertifikatini olish va sertifikat doirasidagi imkoniyatlar bilan.
        </p>
      </a>
    </div>
  </div>
</section>