<section class="course">
    <div class="container">
        <div class="course-text">
            <h2>Malaka oshirish kurslari</h2>
            <button>Batafsil <i class="i-next"></i></button>
        </div>

        <div class="course-main">
            <a href="#" class="course-main-card">
                <div class="card-header">
                    <div class="icon-box"><img src="../../images/course-img-1.svg" alt=""></div>
                    <p>Talabgorlarga</p>
                </div>
                <div class="course-main-card-top"></div>
                <h5>Platforma orqali malakani baholash markazlari, malaka sertifikatlari, mashg'ulotlar,
                </h5>
            </a>

            <a href="#" class="course-main-card">
                <div class="card-header">
                    <div class="icon-box"><img src="../../images/course-img-2.svg" alt=""></div>
                    <p>Malakani baholash <br> markazlariga</p>
                </div>
                <div class="course-main-card-top"></div>
                <h5>O'z faoliyatini yo'lga qo'yishda zarur ma'lumotlarni olish, Xizmatlardan foydalanish,</h5>
            </a>

            <a href="#" class="course-main-card">
                <div class="card-header">
                    <div class="icon-box"><img src="../../images/course-img-3.svg" alt=""></div>
                    <p>Ish beruvchilarga</p>
                </div>
                <div class="course-main-card-top"></div>
                <h5>Malaka sertifikatiga ega shaxslar reestri bilan tanishish va zarur mutaxassislarni tanlab olish ...
                </h5>
            </a>

            <a href="#" class="course-main-card">
                <div class="card-header">
                    <div class="icon-box"><img src="../../images/course-img-4.svg" alt=""></div>
                    <p>Ekspertlarga</p>
                </div>
                <div class="course-main-card-top"></div>
                <h5>Malaka oshirish kurslari, ekspert sertifikatini olish va sertifikat doirasidagi imkoniyatlar bilan.
                </h5>
            </a>
        </div>
    </div>
</section>