<section class="hero">
    <div class="hero-bg">
        <img src="../../images/Group.png" alt="">
        <div class="overlay"></div> </div>

    <div class="container hero-container">
        <div class="hero-content">
            <p class="date"><i class="i-calendar"></i> 16 Dekabr 2025</p>
            <h2>Milliy malaka tizimining joriy holati va uni <br> rivojlantirish bo‘yicha istiqbolli vazifalar</h2>
            <h5>Turin shahri bugungi kunda Markaziy Osiyo davlatlari uchun muhim muloqot va hamkorlik maydoniga aylangan...</h5>
            <button class="btn-more">Batafsil o‘qish <i class="i-next"></i></button>
        </div>

    </div>
</section>