<section class="hero">
  <!-- Background -->
  <div class="hero__bg" aria-hidden="true">
    <img class="hero__bg-img" src="../../images/Group.png" alt="" />
    <div class="hero__bg-overlay"></div>
  </div>

  <div class="container hero__container">
    <div class="hero__content">
      <p class="hero__date">
        <i class="i-calendar"></i>
        <span>16 Dekabr 2025</span>
      </p>

      <h2 class="hero__title">
        Milliy malaka tizimining joriy holati va uni <br />
        rivojlantirish bo‘yicha istiqbolli vazifalar
      </h2>

      <p class="hero__subtitle">
        Turin shahri bugungi kunda Markaziy Osiyo davlatlari uchun muhim muloqot va hamkorlik maydoniga
        aylangan...
      </p>

      <button class="hero__btn" type="button">
        Batafsil o‘qish <i class="i-next"></i>
      </button>
    </div>
  </div>
</section>