<section class="cta">
    <div class="container">
        <h2>Foydali havolalar</h2>
    </div>
    <div class="ovul owl-carousel owl-theme">

        <div class="cta-card">
            <div class="cta-card-inner">
                <img src="../../images/hom-carusel-img-3.svg" alt="logo">
                <div class="cta-card-text">
                    <p>O'zbekiston Respublikasi Prezidentining rasmiy veb-sayti</p>
                    <a href="http://www.president.uz">http://www.president.uz</a>
                </div>
            </div>
        </div>

        <div class="cta-card">
            <div class="cta-card-inner">
                <img src="../../images/dawun.svg" alt="logo">
                <div class="cta-card-text">
                    <p>O'zbekiston Respublikasi Oliy Majlisining Inson huquqlari bo'yicha vakili (Ombudsman)</p>
                    <a href="http://ombudsman.uz">http://ombudsman.uz</a>
                </div>
            </div>
        </div>

        <div class="cta-card">
            <div class="cta-card-inner">
                <img src="../../images/logo.svg" alt="logo">
                <div class="cta-card-text">
                    <p>Normativ-huquqiy hujjatlar loyihalarini muhokama qilish portali</p>
                    <a href="http://regulation.gov.uz">http://regulation.gov.uz</a>
                </div>
            </div>
        </div>

        <div class="cta-card">
            <div class="cta-card-inner">
                <img src="../../images/hom-carusel-img-4.svg" alt="logo">
                <div class="cta-card-text">
                    <p>Jamiyatiy murqaratlar portali</p>
                    <a href="http://monitoring.uz">http://monitoring.uz</a>
                </div>
            </div>
        </div>

        <div class="cta-card">
            <div class="cta-card-inner">
                <img src="../../images/logo.svg" alt="logo">
                <div class="cta-card-text">
                    <p>O'zbekiston Respublikasi Majlisma Oliy kengashi</p>
                    <a href="http://parliament.gov.uz">http://parliament.gov.uz</a>
                </div>
            </div>
        </div>

        <div class="cta-card">
            <div class="cta-card-inner">
                <img src="../../images/hom-carusel-img-4.svg" alt="logo">
                <div class="cta-card-text">
                    <p>O'zbekiston Respublikasi Majlisma Oliy kengashi</p>
                    <a href="http://parliament.gov.uz">http://parliament.gov.uz</a>
                </div>
            </div>
        </div>

    </div>
</section>

