<section class="news">
    <div class="container">
        <div class="news-text">
            <h2>Yangiliklar</h2>
            <a href="../../news-page.html"><button>Batafsil <i class="i-next"></i></button></a>
        </div>
        <div class="news-main">
            <div class="news-main-card news-main-card--large">
                <img src="../../images/news-img-1.png" alt="">
                <div class="news-main-card__overlay">
                    <div class="news-main-card__meta">
                        <span class="news-main-card__date"><i class="i-calendar"></i> 13 Dekabr 2025</span>
                        <span class="news-main-card__views"><i class="i-eye"></i> 325</span>
                    </div>
                    <h3 class="news-main-card__title">Samarqand viloyati sessiyasida tashkiliy masala ko'rilib, kelgusi vazifalar belgilandi</h3>
                    <p class="news-main-card__text">25-noyabr kuni Xalq deputatlari Samarqand viloyat kengashining navbatdan tashqari sessiyasi bo'lib o'tdi. Unda O'zbekiston Respublikasi Prezidenti Shavkat Mirziyoyev ishtirok etdi...</p>
                </div>
            </div>

            <div class="news-main-grid">
                <div class="news-main-card news-main-card--small">
                    <img src="../../images/news-img-2.png" alt="">
                    <div class="news-main-card__overlay">
                        <div class="news-main-card__meta">
                            <span class="news-main-card__date"><i class="i-calendar"></i> 13 Dekabr 2025</span>
                            <span class="news-main-card__views"><i class="i-eye"></i> 325</span>
                        </div>
                        <h3 class="news-main-card__title">O'zbekistonning xalqaro aloqalari kengaymoqda.</h3>
                        <p class="news-main-card__text">Samarqandda xalqaro ta'lim forumlari o'tkazilishi rejalashtiririlmoqda.</p>
                    </div>
                </div>
                <div class="news-main-card news-main-card--small">
                    <img src="../../images/news-img-3.png" alt="">
                    <div class="news-main-card__overlay">
                        <div class="news-main-card__meta">
                            <span class="news-main-card__date"><i class="i-calendar"></i> 13 Dekabr 2025</span>
                            <span class="news-main-card__views"><i class="i-eye"></i> 325</span>
                        </div>
                        <h3 class="news-main-card__title">O‘zbekistonning xalqaro aloqalari kengaymoqda.</h3>
                        <p class="news-main-card__text">Samarqandda xalqaro ta’lim forumlari o‘tkazilishi rejalashtirilmoqda.</p>
                    </div>
                </div>
                <div class="news-main-card news-main-card--small">
                    <img src="../../images/news-img-4.png" alt="">
                    <div class="news-main-card__overlay">
                        <div class="news-main-card__meta">
                            <span class="news-main-card__date"><i class="i-calendar"></i> 13 Dekabr 2025</span>
                            <span class="news-main-card__views"><i class="i-eye"></i> 325</span>
                        </div>
                        <h3 class="news-main-card__title">O‘zbekiston ta’lim tizimi xalqaro standartlarga muvofiqlashtirilmoqda.</h3>
                        <p class="news-main-card__text">2024-yilda yangi diplom dasturlari joriy etiladi.</p>
                    </div>
                </div>
                <div class="news-main-card news-main-card--small">
                    <img src="../../images/news-img-5.png" alt="">
                    <div class="news-main-card__overlay">
                        <div class="news-main-card__meta">
                            <span class="news-main-card__date"><i class="i-calendar"></i> 13 Dekabr 2025</span>
                            <span class="news-main-card__views"><i class="i-eye"></i> 325</span>
                        </div>
                        <h3 class="news-main-card__title">O‘zbekiston diplomlari endilikda 38 ta davlatda tan olinishi mumkin.</h3>
                        <p class="news-main-card__text">25-noyabr kuni Xalq deputatlari Samarqand viloyati..</p>
                    </div>
                </div>
                </div>
        </div>
    </div>
</section>