:root {
  --black: #101828;
  --white: #ffffff;
  --primary: #002266;
  --width-container: 1620px;
  --height-header: 150px;
  --width-sidebar: 300px;

  @include devices(md) {
    --height-header: 80px;
  }
  body {
    background-color: #F4F8FD;
  }
}
