@import "config/mixins", "config/variables";

* {
  box-sizing: border-box;
}

body {
  background-color: #f2f4f7;
  font-family: "Montserrat", sans-serif;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  position: relative;

  ::selection {
    background: #378ce5;
    color: #fff;
    font-weight: 400;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  max-width: 100%;
}

input,
select,
.form-control {
  font-size: 1rem;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #dfe4ed;
  transition: all 0.3s ease;
  background: #eff3f9;
  width: 100%;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  &:hover {
    background: #eff3f9;
  }
}

section {
  position: relative;
  z-index: 1;
}

.row {
  --local-space: 16px;
  margin: 0 calc(0px - var(--local-space) / 2);
  row-gap: var(--local-space);

  & > div {
    padding: 0 calc(var(--local-space) / 2);
  }
}

.container {
  max-width: calc(var(--width-container) + (16px * 2));
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
}

.select-wrapper {
  position: relative;

  select {
    -webkit-appearance: none;
    appearance: none;
    height: 100%;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -45%);
    width: 24px;
    height: 24px;
    background: url("../images/dropdown.svg");
    background-size: contain;
    font-size: 28px;
    z-index: 5;
    pointer-events: none;
  }
}

.tab-navigation {
  display: flex;
  background-color: #e1e4e9;
  border-radius: 12px;
  padding: 4px;
  position: relative;
  margin-bottom: 1.25rem;
  width: fit-content;
  margin-bottom: 20px;

  .tab-button {
    flex: 1;
    padding: 8px 14px;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    border-radius: 8px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    @include font500(#576565, 17px);
    font-weight: 500;

    &.active {
      background: #ffffff;
      color: #344054;
      box-shadow: 0px 1px 2px 0px #1018280d;
    }

    &:hover {
      background-color: v;
    }

    &:hover:not(.active) {
      color: #171a1f;
      opacity: 0.7;
    }

    &:focus {
      outline-offset: 2px;
    }

    @include devices(sm) {
      padding: 8px 6px;
    }
  }
}

.divider {
  margin: 0 auto;
}

.ya-share2__list_direction_vertical {
  align-items: flex-start !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 3px !important;
}

.ya-share2__container_size_m
  .ya-share2__item_more.ya-share2__item_has-pretty-view
  .ya-share2__link_more.ya-share2__link_more-button-type_short {
  box-shadow: none !important;
  border: none !important;

  i {
    font-size: 20px;
  }
}

.section-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 30px;
  width: 100%;

  @include devices(md) {
    margin: 0 0 30px;
    flex-direction: column;
  }

  p {
    @include font600(var(--primary), 40px);
    line-height: 54px;

    @include devices(md) {
      @include font600(var(--primary), 24px);
      line-height: 44px;
      text-align: center;
    }

    @include devices(sm) {
      @include font600(var(--primary), 26px);
      line-height: 32px;
    }
  }

  a {
    @include font600(var(--primary), 24px);
    line-height: 32px;

    @include devices(md) {
      @include font600(var(--primary), 22px);
      line-height: 44px;
    }

    @include devices(sm) {
      @include font600(var(--primary), 17px);
      line-height: 32px;
    }
  }
}

.owl-carousel .owl-stage {
  display: flex;
}

.owl-carousel .owl-item {
  float: unset;
  min-height: unset;
}


@import "./components";
