// Sections
@import 'sections/hero',
'sections/about',
'sections/courses',
'sections/news',
'sections/services',
'sections/faq',
'sections/links',
'sections/course',
'sections/hom-carusel',
'sections/backrund'